[2018-06-21 13:48] Stratus3D commented on #320
Closing this as I think we should stick with the current behavior. Better to be safe than sorry in my view.

[2018-06-21 13:48] #320 closed

[2018-07-02 06:51] evolve2k commented on #162
After earlier having applied 'npm config set scripts-prepend-node-path true' which I think was the command that broke webpack running for me.

ref: https://stackoverflow.com/questions/51128568/webpack-production-build-generating-no-build-output-and-almost-no-terminal-log-m

**I fixed my issue by running:**

$ asdf plugin-update --all
$ asdf update
$ npm i npm

[2018-07-05 14:47] a4z commented on #283
now implemented!
at least for ruby, hope node will follow (for webstrom)

https://www.jetbrains.com/help/ruby/2018.2/ruby-version-managers.html

[2018-07-14 13:39] Stratus3D commented on #333
Closing this issue since it is not a bug in asdf. I will merge the related PR though.

[2018-07-14 13:39] #333 closed

[2018-07-14 14:07] Stratus3D commented on #255
I believe this has been fixed by https://github.com/asdf-vm/asdf/pull/334.

[2018-07-14 20:02] mracos commented on #255
Fixed here for me! Awesome, thanks!
Feel free to close it. :D

[2018-07-14 21:51] #255 closed

[2018-07-15 02:05] Christopher-Bui commented on #307
Should this be closed now?

[2018-07-15 02:39] Stratus3D commented on #92
Closing this issue since it's unclear if this is actually a bug in asdf. PR #334 may help us avoid this problem as we don't use `cd` when computing the `ASDF_DIR` path.

[2018-07-15 02:39] #92 closed

[2018-07-15 21:52] Stratus3D commented on #307
Thanks @Christopher-Bui. Yes, this has been implemented.

[2018-07-15 21:52] #307 closed

[2018-07-15 22:36] Stratus3D commented on #215
Yes unfortunately there isn't a better way to do this. Now we have `asdf which` so you could do
[code]
but that's still kind of hacky. Shims always exec, and there is no way to get the shell to source scripts from inside the exec.

[2018-07-16 18:29] natecox commented on #215
Can we get this documented properly on the README somewhere? I feel like this is a fairly common thing for me, and while it's not rocket science it'd be nice to have an official position on it.

[2018-07-19 17:40] renews commented on #283
Still doesn't work for me, sadly. By that I mean, it can't find my asdf.

[2018-07-19 17:57] Stratus3D commented on #283
Does asdf work on the command line for you @renews? And is it installed in the default location? (`~/.asdf`).

[2018-07-20 23:01] ppdeassis commented on #290
Same here. Showing `ruby`, `node` and `python` versions is adding almost a second (~.75) with `asdf` version `v0.5.0`.

[code]
[code]
[code]

[2018-07-23 19:45] ppdeassis commented on #290
Yeah, probably. But even then - achieving the direct `shim` execution _timings_ - I think there may be something else.
The [timing differences presented by @stevenocchipinti](
https://github.com/asdf-vm/asdf/issues/290#issue-298832868) are big:

Checkout `ruby`, for example:

That's 0.019s (`chruby`) vs 0.305s (`asdf`) => ~16x slower. And there's also the overhead of `asdf current` (vs the direct

[2018-07-25 20:14] Stratus3D commented on #290
@ppdeassis the only thing involved is the plugin's `exec-env` callback script if it is present. Most plugins do not include an `exec-env` script as it's not needed. The ones that do (like `asdf-ruby`) do relatively simple things like set environment variables. There isn't really anything we can do to optimize that logic, and it's unlikely to be slow (benchmarking of just the `exec-env` scripts cou

[2018-07-25 20:18] Stratus3D commented on #290
I believe it's due to the logic in asdf's version lookup code. It looks for one or more files in the current directory, and climbs up to the parent directory if nothing is found. This continues until a version is found or the top level directory is reached. `asdf current` is faster for me in a directory containing a `.tool-versions` file than it is in deeply nested directory many layers below the

[2018-07-28 21:56] 7stud opened #342 "asdf command not found on Mac OSX"
### Steps to reproduce

I installed afds according to the instructions for Mac OSX:

[code]

But, after starting a new shell I tried to install the Elixir plugin, but I got:

[code]

### Expected behavior

I expected the Elixir plugin to be installed.

### Actual behavior

I got the error:

[code]

### Environment

**OS**:
[code]
**asdf version**:
[code]

I think the problem has to do with issue #

[2018-07-30 09:24] nonnenmacher commented on #342
got same result here with output log prepended to PATH as

[code]

[2018-07-30 13:35] Stratus3D commented on #342
I just released v0.5.1 this morning? Can you try upgrading (`asdf update`) to see if that fixes the problem? I think the PATH issue has been fixed.

[2018-07-31 08:52] vraravam commented on #342
I had the problem - but, after upgrading from 0.4.1 to 0.5.1. I did not have time - so, I blasted the whole asdf installation - and re-installed from scratch.

[2018-07-31 08:57] vraravam commented on #240
I have been explicitly browsing the issues in `asdf` for exactly this same reason! Could this be picked up on priority?

[2018-07-31 09:03] vraravam opened #343 "Support for upgrading outdated versions"
This is more of a feature request. If/when issue #240 is completed, we can add support for querying the `list-all` functionality for that plugin, and then compare with the versions of the language that is currently installed/applicable in the current folder. This can be exposed via `asdf outdated [plugin-name]`.

[2018-07-31 09:33] vraravam opened #344 "Error when using zsh and asdf"
### Steps to reproduce

Install `asdf` on Mac OSX, with the default shell set to `zsh`. Opening a new terminal window or tab, this is the error that I get:
[code]

### Expected behavior

No error should be raised - just because I am not running `bash`

### Actual behavior

Error raised

### Environment

**OS**: Mac OSX

**Default shell**: `zsh`

**asdf version**: 0.5.1

[2018-07-31 12:54] Stratus3D commented on #279
@antonovga I think this issue has been fixed in version 0.5.1. I don't think `touch $HOME/.bash_sessions_disable` should be required anymore. Can you upgrade (`asdf update`) and see if it is fixed for you?

[2018-07-31 15:15] nonnenmacher commented on #342
yes

updating to latest version from master branch, solved the issue

On Tue, Jul 31, 2018 at 10:53 AM Vijay Raghavan Aravamudhan <
notifications@github.com> wrote:

[2018-07-31 17:55] #342 closed

[2018-08-01 02:31] Stratus3D commented on #344
We determine whether or not the user is using Zsh by checking for the `$ZSH_VERSION` variable. If it's not set we assume it's Bash, and proceed to use `bashcompinit`. Is `$ZSH_VERSION` set for you? I'd assume it's not because of the error you are getting.

 https://github.com/asdf-vm/asdf/blob/master/asdf.sh#L26

[2018-08-01 03:01] vraravam commented on #344
Actually, I did see the code/file that you pointed out - and verified that `$ZSH_VERSION` *is* set. For me, it currently shows `5.3`.

[2018-08-01 03:02] vraravam commented on #344
Would it be better to check for `ps $$` - and grep that to determine whether you are on bash or not? imo, `$ZSH_VERSION` will only give you whether its zsh or not - but, what about other shells?

[2018-08-01 14:51] fschuindt opened #345 "Can't setup on a fresh installed Fedora Workstation with "Oh My Zsh!""
### Steps to reproduce

[code]

Start a new terminal session:

[code]

### Expected behavior

`asdf` to be installed with no error poping at session start.

### Actual behavior

`asdf` remains uninstalled, and ZSH fails to load it in every session.

### Environment

**OS**: GNU Linux Fedora 28 Workstation, Kernel 4.17.7-200.fc28.x86_64.
**asdf version**: 0.5.1
**Terminal Emulator**: Tilix.
**zsh v

[2018-08-01 22:02] Stratus3D commented on #344
Actually I take that back. The only way line 28 in asdf.sh will be executed is if `$ZSH_VERSION` is not null, which yours is, and so is mine. So line 28 is being executed for both of us.

The difference is you get an error that says `bashcompinit` wasn't found. I'm not sure why that is the case.

[2018-08-01 22:07] Stratus3D commented on #345
Those commands you ran look correct. What was present in your `~/.zshrc` file after you ran them? Those errors you got do not look familiar, and don't make sense to me. And the file is only 29 lines long, so it's odd it's complaining about line 30.

[2018-08-02 14:36] fschuindt commented on #345
@Stratus3D That's odd. This issue was happening on my machine at work. I'm at home now but I have a really similar setup here. Fedora, ohmyzsh, etc. So I tried:

[code]

And here is my `~/.zshrc` file:

[code]

It seems to me that my system is complaining about `\n`, `\r` and `^M` special characters. Really odd to me. Any clue?

Thanks!

[2018-08-02 14:54] Stratus3D commented on #345
Really odd. `/usr/bin/env: ‘bash\r’: No such file or directory` even in the shebang line it appears to be taking `\r` literally. This seems like an encoding thing. Can you `cat` your `.asdf/asdf.sh` file and paste it here? The only thing I can think of is that maybe Git altered the line endings for the files when it cloned them down and made the source code incompatible with your machine. I have n

[2018-08-02 15:06] fschuindt commented on #345
@Stratus3D You got it right on the spot! I have `git config --global core.autocrlf true` once, and that was my problem.

It was fixed by:

[code]

Then I removed the old `~/.asdf` directory and installed it again. Worked perfect.

Thank you for your guidance! :]

Feel free to close this issue or to add any other info you think might be relevant for other victims of distraction like me. Thanks.

[2018-08-02 15:29] Stratus3D commented on #345
I looked for a way to disable this via the `git clone` command so we can be sure the repository is cloned down with the correct settings, but it looks like this isn't possible. See: https://community.atlassian.com/t5/Bamboo-questions/Is-it-possible-to-set-conf-autocrlf-true-when-cloning-repository/qaq-p/299945

I wish there was a way to prevent this from happening again, but there doesn't appear t

[2018-08-02 15:29] #345 closed

[2018-08-03 09:42] mark-jordanovic-lewis commented on #283
Also does not work for me, identifying the binary manually hangs Rubymine on version 2018.1.5 and can't even access the prefs in 2018.2.

Have reported to JetBrains, just adding my 2c

[2018-08-03 14:39] jordan-brough commented on #284
Docs for what @mojochao mentioned are here: https://github.com/asdf-vm/asdf-nodejs#requirements

(Current version: https://github.com/asdf-vm/asdf-nodejs/tree/9f3e93df#requirements)

[2018-08-07 16:08] mcornella commented on #344
`bashcompinit` is the function that allows zsh to "read" bash completion files, so it's correct behavior that zsh looks for it. In your case, you might have a broken `$fpath` such that zsh can't find the `bashcompinit` file.

[2018-08-08 16:10] virtualstaticvoid opened #346 "asdf plugin-test fails with "asdf: command not found""
### Steps to reproduce

Run tests on Travis CI with the following `.travis.yml` file for an asdf plugin such as [asdf-glooctl](https://github.com/virtualstaticvoid/asdf-glooctl).

E.g.

[code]

### Expected behavior

`asdf plugin-test` should pass.

### Actual behavior

Fails with `asdf/lib/commands/plugin-test.sh: line 47: asdf: command not found`.

See build logs from some of my plugins. E.g.

*

[2018-08-10 21:47] Stratus3D commented on #346
Test pass on my OSX machine without error. I ran that same command (`asdf plugin-test glooctl https://github.com/virtualstaticvoid/asdf-glooctl.git`) and it worked without any errors. The error you got makes it seem like `asdf` wasn't setup properly. I don't think this is due to a bug in `plugin-test.sh`.

[2018-08-10 21:51] Stratus3D commented on #344
Can you check if `bashcompinit` is on your path @vraravam ?

[2018-08-11 07:12] virtualstaticvoid commented on #346
Yes, I found that it works locally for me too. I'll spend some more time trying to figure out why it fails when executing on Travis CI.

[2018-08-18 08:37] vraravam commented on #344
This is what I see:
[code]

[2018-08-21 06:33] juvham opened #347 "asdf install ruby 2.5.1 error 'cstddef' file not found"
### Steps to reproduce

asdf install ruby 2.5.1

### Expected behavior

success install ruby 2.5.1

### Actual behavior

BUILD FAILED (OS X 10.13.5 using ruby-build 20180618)
In file included from /usr/local/include/string.h:25:
/usr/local/include/plist/Node.h:26:10: fatal error: 'cstddef' file not found
#include <cstddef>
         ^~~~~~~~~
1 error generated.

### Environment
**OS**:
macosx
**asd

[2018-08-21 20:21] Stratus3D commented on #347
This is not an issue with asdf. It's either an issue with `asdf-ruby` (https://github.com/asdf-vm/asdf-ruby/issues) or `ruby-build` (https://github.com/rbenv/ruby-build). Please check the issues trackers for those projects and open an issue for this if it is not already reported. Thanks!

[2018-08-21 20:21] #347 closed

[2018-08-22 13:42] joemsak commented on #162
sorry @SidOfc, just did @evolve2k's advice in zsh / iterm2 in a new window:

[code]

[2018-08-22 15:58] SidOfc commented on #162
@joemsak well, this time you are not in the correct location.
You know that you need to `cd` into your node install, then run the exact command right? Follow my instructions **exactly**:

[code]

Once again, **replace** `[VERSION]` with the proper version number and **skip** the `-g` switch on `npm i npm`. At the moment you are in `~` which is just your home directory.

Note that I am not sure if

[2018-08-22 16:00] corysimmons commented on #162
@SidOfc Sorry I should've mentioned that I tried all of your suggestions in order, verbatim, before posting my screenshot above. No luck. :(

[2018-08-22 16:07] joemsak commented on #162
okay, sorry, you're right I missed your full instructions

However, I do expect to just be able to update npm from wherever i'm using a .tool-versions file though

Anyway, I have done as instructed and still face this issue. I am on 10.14 beta now but these issues had persisted on 10.13 stable. No other unix or OS based issues have come up for me and this is my primary development machine.

[code]

[2018-08-22 18:53] SidOfc commented on #162
@corysimmons I checked your screenshot and I've also seen this error come by sometimes. I am however unsure how exactly I fixed those scenario's as it has been a while since I've last encountered it. The only thing I can really tell you is that I kept juggling with the above commands and somehow it started working (blergh, I hate giving inconclusive advice...) :(

@joemsak no need to apologize, yo

[2018-08-23 09:10] corysimmons commented on #162
@SidOfc Appreciate your help but I'm done with `nvm`, `asdf`, etc. etc. etc. etc.

I'll just have to manually remember to switch Node versions for certain projects and use `$ n` instead of fighting tooling.

[2018-08-23 10:55] cgrs commented on #346
It's also happening to me, only on Linux environment: https://travis-ci.org/cgrs/asdf-haxe/jobs/419589566#L440

[2018-08-25 07:20] danhper opened #349 "Improve support for handling multiple versions"
A long time ago, when I wrote the [Python plugin](https://github.com/tuvistavie/asdf-python), I added support for multiple versions of a single plugin at the same time, so that `python3` and `python2` could be used together. Currently,

[code]

works quite fine, it tries to use Python 3.6.6 first, then 2.7.15 and finally fallbacks to system executables if the command is not found.

However, I am a

[2018-08-27 18:12] brlodi commented on #290
Correct me if I'm wrong, but the lookup appears to traverse the directory hierarchy *per plugin*, so the overhead scales with the number of enabled plugins. Since those are making file read calls they're relatively expensive. It could be a significant improvement to traverse the directory tree *once*, compiling applicable versions from `.tool-versions` files, and then output based on that.

[2018-08-28 12:50] vassilevsky commented on #346
I thought that this might be caused by Travis running every command in isolation.
I tried putting all commands together to make Travis run them all in one shell:
[code]
This does NOT help. The error stays the same.

[2018-08-28 14:27] Stratus3D commented on #349
Yes! I only learned about this a couple months ago. It would be great to have documentation and tests around this feature!

[2018-08-28 17:17] Stratus3D commented on #290
@brlodi yes, that is exactly why the command is so slow. If it has to traverse 5 directories to find the right version and you've got 5 plugins, it's going to do at least 25 reads (more if legacy version file support is turned on). The reason it does things per plugin is because our version lookup functions can only lookup one version at a time. Obviously this isn't ideal, but it would take quite

[2018-08-30 06:30] vic commented on #338
@vitalis Thank you so much for tracing it down to that, we have so many plugins failing because of this rate limiting thing. I'll add a check on `plugin-test` and see if the plugin `list-all` command uses the GitHub API and then, just make sure it also sets an Authorization header. People should still add their token as a secret on their travis build, but having this test and documentation will ce

[2018-08-30 06:34] vic commented on #338
Checks added at a4fc43e682.

Closing this, please follow the instructions at https://github.com/asdf-vm/asdf/blob/master/docs/creating-plugins.md#github-api-rate-limiting and re-trigger your plugin's build.

Will close this, please re-open if needed.

[2018-08-30 06:34] #338 closed

[2018-08-30 06:37] vic commented on #346
Fixed this at commit 950853.

Turns out the `asdf` command was not available on PATH, haha, so I just made sure the test is run an new subshell and we `source asdf.sh` within it.

I'm closing this, please re-trigger your plugin build and see if this has been fixed, if not, please re-open.

[2018-08-30 06:37] #346 closed

[2018-08-30 14:05] virtualstaticvoid commented on #346
I can confirm that [it works](https://travis-ci.org/virtualstaticvoid/asdf-glooctl/jobs/422572405) now.

Thanks @vic!

[2018-08-31 08:00] vassilevsky commented on #346
Yes, there is no problems in the builds now 👌💯

[2018-09-01 10:40] stefanfrede opened #350 "code ERR_TLS_CERT_ALTNAME_INVALID"
### Steps to reproduce

`npm -g outdated --depth=0`

### Expected behavior

Getting a list of the globally installed outdated npm packages.

### Actual behavior

[code]

### Environment

**OS**:

macOS High Sierra Version 10.13.6

**asdf version**:

v0.5.1

[2018-09-01 20:49] vic opened #351 "Don't try to install system versioned tools."
### Steps to reproduce

Having `system` as the version for a tool in `~/.tool-versions` file like:

 `~$ cat ${HOME}/.tool-versions`

[code]

Then running `asdf install`

### Expected behavior

`asdf install` should ignore tools marked as `system` version, and not try to install them.

### Actual behavior

asdf correctly installs rust but fails when trying to download graalvm.

### Environment

**

[2018-09-03 08:52] stefanfrede commented on #350
Gave it another try today and it is working again, so it seems not asdf related.

[2018-09-03 08:52] #350 closed

[2018-09-03 19:29] tomdavidson commented on #338
@vic thank you for #a4fc43e  but I am not able to pass the check:

from travis, I now get:

[code]

and I have even used @vitalis list-all nearly verbatim (thank you @vitalis ):

``
`#!/usr/bin/env bash

set -e
set -o pipefail

releases_path=https://api.github.com/repos/gruntwork-io/terragrunt/releases
cmd="curl -s"
if [ -n "$GITHUB_API_TOKEN" ]; then
  cmd="$cmd -H 'Authorization: token $GITHUB_A

[2018-09-04 18:54] vic commented on #338
@tomdavidson you have to [create a token](https://github.com/asdf-vm/asdf/blob/master/docs/creating-plugins.md#github-api-rate-limiting) and make it available as `GITHUB_API_TOKEN` on your travis build settings.

[2018-09-04 23:36] tomdavidson commented on #338
Hi @vic I should have highlighted that I did, but you can see it from the travis log. I did a new commit to make sure the new env var was used in the job too.

[code]

[2018-09-10 16:28] vic commented on #338
@tomdavidson looking at the travis log you pasted here, looks like you forgot to push your changes then, the test is failing because there is no Authorization header set on https://gitlab.com/td7x/asdf/terragrunt/blob/master/bin/list-all

[2018-09-10 22:45] tomdavidson commented on #338
https://gitlab.com/td7x/asdf/terragrunt/blob/travis-wip/bin/list-all

But you are still right - the test is cloning the master branch rather than the feature branch. Thank you!

[2018-09-11 01:24] mwean opened #352 "Use best-matching version"
### Steps to reproduce

[code]

### Expected behavior

Use version 2.3.7, since it is the highest version that matches the given value.

### Actual behavior

`version 2.3 is not installed for ruby`

### Environment

**OS**: macOS 10.13.6

**asdf version**: 0.5.1

Similar to #226, I'd love to be able to be less specific about versions and get the highest matching installed version. For something li

[2018-09-11 04:46] vic commented on #352
Hm, currently asdf is very dumb about versions, they can actually be anything. I mean, not only semantic versions, but things like "system", "ref:master", even "foobar" is valid (I have things like "java intellij" or "android-tools brew" used with my asdf-link plugin)

My primary use for asdf is keeping a single `.tool-versions` in my projects and let any developer have the same *exact* versions f

[2018-09-11 18:37] mwean commented on #352
That's definitely one of my use cases, but I also use it for side projects, scripts, etc. where I don't care about the exact version.

This change wouldn't impact any existing users. If you specify 2.3.7, it will use that exact version. If you just specify 2.3, it will find the best versions available. In my mind, it just adds more flexibility and doesn't take anything away.

[2018-09-11 19:33] vic commented on #352
Perhaps something better would be allowing some custom hooks for pre-post tool installation (so you can create the symlinks I mentioned, IIRC other people have asked for executing some commands like reshiming, or installing essential packages after tool installation. Can't remember right now if there's an issue for that).

Again, I guess I understand your use case (and yeah, for things like postgr

[2018-09-12 05:12] mwean commented on #352
Yeah, I think hooks could support what I want to do. I can imagine post-install being useful for a bunch of things

[2018-09-13 16:13] mortyccp opened #353 "asdf current is broken when no plugins installed"
### Steps to reproduce

Execute `asdf current` with no plugins installed

### Expected behavior

Should be empty output

### Actual behavior

The command use the current directory files name as input

### Environment

**OS**: mac

**asdf version**: v0.5.1

[2018-09-14 08:45] denegny opened #354 "Bash script help update plugin versions in asdf"
### Steps to reproduce

Tell us what actions you performed before the issue occurred

### Expected behavior

Tell us what should have happened

### Actual behavior

Tell us what happened instead

### Environment

**OS**:

**asdf version**:

[2018-09-14 13:59] Stratus3D commented on #354
I'm not sure exactly why the shell script in the Gist is needed. It seems it removes all installed versions of a tool and then it installs and sets a new global version for the tool. I don't understand why that is necessary as asdf is designed to handle multiple installed versions of a tool. There is no need to remove all other versions before installing a new one. Just install the new version and

[2018-09-14 18:03] denegny commented on #354
you can make a pull-request if necessary in core to take advantage of this feature, or as an option to add the ability to call plugins written by each for themselves

of course I hardly insist, do not like, it's up to, but when you have a lot of languages which you don't often use, but sometimes they try to quickly upgrade their version will be useful
All versions can not be removed, it is enough

[2018-09-14 20:20] Stratus3D commented on #235
Closing this issue as it is being addressed in #275 and #335.

[2018-09-14 20:20] #235 closed

[2018-09-14 20:49] Stratus3D commented on #252
@zhaoyi0113 did you ever get this figured out? Looking at your `~/.bash_profile` I don't see a problem (aside from sourcing the asdf files twice, and manually adding `$ASDF_DIR/bin` to your PATH).

[2018-09-15 20:36] atavistock opened #356 "asdf reshim broken on zsh on clean install"
### Steps to reproduce

On a completely new install on an using zsh, run the steps outlined in the documentation (git clone, add paths to zsh), add any plugins, attempt to reshim anything results in `grep: ~/.asdf/shims/*: No such file or directory`.  As a result the plugin is not in the path.

### Expected behavior

Reshim should work.  Plugins should be usable.

### Actual behavior

Reshim doesn

[2018-09-15 22:11] SidOfc commented on #162
**Update**

I have been able to update npm after running `asdf update --head`. I'm now running `v0.5.1` and can confirm that on Node `v9.1.0` with npm `v5.5.1`, running the command `npm i -g npm` correctly installs `v6.4.1` (even without reshimming).

[2018-09-17 02:36] #275 closed

[2018-09-17 03:26] Stratus3D commented on #352
https://github.com/asdf-vm/asdf/issues/216 https://github.com/asdf-vm/asdf/issues/226 are two issues related to this. I agree @vic that this is the sort of thing that doesn't belong in asdf core. Every tool can have it's own versioning quirks. For example, the Erlang plugin has to deal with two version schemes since the way Erlang is versioned changed. There is also no guarantee to that tools cont

[2018-09-17 12:06] IanVaughan opened #357 "Cannot uninstall via command get "No build named asdf_""
### Steps to reproduce

[code]

Happens with any uninstall version or lang.

### Environment

**OS**: OSX 10.13.6

**asdf version**: version: v0.5.1

[2018-09-17 14:59] Stratus3D commented on #357
This is an issue with the asdf-erlang plugin, not asdf itself.

Are you using the latest version of asdf-erlang? (`asdf plugin-update erlang`) If you are using the latest version of it and this is still an issue please open on the [asdf-erlang issue tracker](https://github.com/asdf-vm/asdf-erlang/issues).

[2018-09-17 15:00] #357 closed

[2018-09-17 16:19] vraravam commented on #344
I'm not sure what I did - but, now the errors do not occur. It most likely has something to do with
[code]
which was in my `.zshrc` file.

[2018-09-17 17:21] #344 closed

[2018-09-18 13:29] Stratus3D commented on #343
I'm open to contributions for this command, but I'm not sure when it would be used. asdf should work fine even when installed versions are no longer available via the plugin. And right now this functionality could be achieved with a simple shell script. All you'd need to do is capture the output of `asdf list-all <tool>` and `asdf list <tool>` and find the versions only present in the `asdf list`

[2018-09-18 18:13] Stratus3D opened #361 "Document ASDF_DATA_DIR"
* Remove unused get_install_type function
* Document `ASDF_DATA_DIR` environment variable in readme
* Correct indentation for loop in utils.sh
* Evaluate potential issues that could come arise from setting `ASDF_DATA_DIR` after sourcing `asdf.sh` in the shell. `asdf.sh` would see it as unset and default to `~/.asdf`, whereas the asdf commands would see it as set and would look elsewhere. This woul

[2018-09-19 03:27] vraravam commented on #343
@Stratus3D - Do you think there's a difference in `upgrade` vs `update` in the context of `asdf`. IF so, then I agree that this could be construed to be different from #240. I have reworded this request title - in case it clarifies the intent.
Also, I was looking for a way to update to the latest version allowed by semantic versioning rules (not the inclusive vs exclusive, `~`, etc) - but more in

[2018-09-19 13:50] Stratus3D commented on #343
In that case I think this goes along with #352. We don't want asdf to have to be concerned with versioning schemes. See my comment on that issue for the reasons why: https://github.com/asdf-vm/asdf/issues/352#issuecomment-421883142. If this is functionality that's needed it will need to be handled by the plugin, since it's the plugin's responsibility to deal with comparison and manipulation of too

[2018-09-19 14:12] vraravam commented on #343
Thanks @Stratus3D - yes, i think #352 is very close to what I was thinking. I'll close this ticket.

[2018-09-19 14:12] #343 closed

[2018-09-20 08:33] zeroshree opened #363 "odbc check failed in OSX"
### Steps to reproduce
1. git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.5.1
I added following asdf in .zshrc
echo -e '\n. $HOME/.asdf/asdf.sh' >> ~/.zshrc
echo -e '\n. $HOME/.asdf/completions/asdf.bash' >> ~/.zshrc
and source .zshrc

I installed following things
coreutils automake autoconf openssl libyaml readline libxslt libtool unixodbc

I added erlang using $ asdf add-plugin

[2018-09-20 13:40] Stratus3D commented on #363
Are you sure you had odbc installed and configured correctly on your machine? The build should be be able to find it (asdf-erlang uses kerl for builds). You might check the kerl docs and see if they say anything about odbc. This is not an issue with asdf itself so I am closing it. Please open an issue for asdf-erlang if this problem persists.

[2018-09-20 13:40] #363 closed

[2018-09-28 01:36] #361 closed

[2018-10-01 01:57] liamdawson opened #366 "asdf global has issues with relative symbolic links"
### Steps to reproduce

1. symlink `.tool-versions` from a subdir of `$HOME` (I used stow)
2. `cd` to a directory that is not `$HOME`
3. `asdf global ruby 2.5.1`

### Expected behavior

Definition for `ruby 2.5.1` added to the file symlinked under `$HOME/.tool-versions`

### Actual behavior

[code]

### Environment

**OS**: Kubuntu 18.04

**asdf version**: v0.5.1

[2018-10-01 01:58] liamdawson commented on #366
Notably, running this from `$HOME` works because the relative link works.

[2018-10-02 01:16] excid3 opened #367 "Non-language plugins"
Rbenv allows you to install plugins that hook into more functionality of the version manager. For example, rbenv-vars allows you to set project specific environment variables and are automatically loaded when Ruby is executed.

I've replicated this for asdf called [asdf-vars](https://github.com/excid3/asdf-vars), but right now I have to inject into the asdf-exec script to add this functionality. T

[2018-10-02 14:28] Stratus3D commented on #367
It depends on those hooks are implemented. I do think there is a need for something like this, but I want to make sure the solution we come up with is generic enough to satisfy all the possible use cases. We've already got a need for something like asdf-vars in several other plugins. For example, the Erlang plugin reads certain environment variables during installation, and Erlang itself also read

[2018-10-02 19:05] Jwashton commented on #367
I fear there will be a tension here between environment variables that are part of your personal setup (e.g. the local DB port/URL as you suggest, or the local path to a sibling repository) and environment variables that you want set consistently for everyone working on the project (e.g. compilation flags for Erlang). I could even imagine someone wanting a _different_ environment variable file for

[2018-10-02 20:09] excid3 commented on #367
Agreed. And one thing that asdf-vars / rbenv-vars does is recursively look up the folder stack for vars files. That way you could keep shared variables in version control and production can have it's own, untracked vars in a parent folder. The merging allows you some flexibility there.

[2018-10-03 14:40] Stratus3D commented on #366
This looks like something I missed in https://github.com/asdf-vm/asdf/pull/337.

[2018-10-04 19:15] #353 closed

[2018-10-07 18:47] #351 closed

[2018-10-07 19:32] Stratus3D commented on #366
It looks like my symlink resolution code only works with absolute symlinks. Relative symlinks do not work.

[2018-10-07 20:00] Stratus3D commented on #249
Closing this since I don't think this is something we need to address right now. Either word is sufficient.

[2018-10-07 20:00] #249 closed

[2018-10-08 01:56] #366 closed

[2018-10-08 13:21] Stratus3D commented on #263
@ipatch I'm not actually sure what the state of asdf-python is when it comes to man pages, but it sounds like it's doing the right thing. This is something that all asdf plugins should do. We need to figure out what should be done, and then make the necessary changes to asdf and/or the plugin creation guide.

[2018-10-08 15:17] Stratus3D commented on #367
@excid3 yes, we could have to traverse your directory structure looking for a `.asdf-ruby-vars` file until it finds one. Placing one in your project would set env vars just for that project, placing one in parent directory would set env vars for that dir and all sub dirs.

@Jwashton yes that is a concern. Check personal settings into VC could be a problem. Of course we could tell people not to che

[2018-10-08 19:54] Stratus3D commented on #162
Sorry to have been so absent from this discussion. Is anyone still having issues with this?

[2018-10-08 20:13] joemsak commented on #162
@SidOfc seems like it's working okay for me after your oneliner

[2018-10-09 07:33] SidOfc commented on #162
Good to hear @Joemsak!

 @Stratus3D I am not sure there, few folks have been active on this issue so maybe it can be closed as it seems to be working in the latest version for macOS at least.

[2018-10-09 11:28] neerfri commented on #367
I believe there's a great tool for the use case of per-project environment variables already: https://direnv.net/

In the unix spirit it does one thing and does it well.
It also has a feature to "authorize" a `.envrc` file to ensure you are not exposed to risky env vars from projects you clone and `cd` into.

[2018-10-11 17:44] excid3 commented on #367
I think the one downside of direnv is that it installs itself by prepending it self to your prompt so it gets triggered every time.

Correct me if I'm wrong, but this won't work if you're over SSH using a non-login, non-interactive shell, which is what I'm considering using asdf with.

[code]

[2018-10-11 20:13] Stratus3D commented on #367
I'm not familiar with direnv, but I do know it's far more intrusive than asdf. All asdf really does is stick a few things on your `PATH`.

[2018-10-12 21:52] alvarobp opened #373 "Plugin tests failing due to executable check in plugin-test command"
### Steps to reproduce

Run ```asdf plugin-test minikube https://github.com/alvarobp/asdf-minikube```

### Expected behavior

Tests should have passed, given there were not changes since last green build on Travis CI (https://travis-ci.org/alvarobp/asdf-minikube/builds/394482098)

### Actual behavior

Tests fail showing the following message:

[code]

### Environment

**OS**: macOS 10.13.6 and Ubu

[2018-10-12 22:41] blimmer commented on #373
👍 we are also seeing this issue.

[2018-10-12 22:45] alvarobp commented on #373
For the time being, I've decided to pin the asdf version used by asdf-minikube travis script to v0.5.0 which is the one that I found to be working for the plugin.

[2018-10-13 01:13] Stratus3D commented on #373
Thanks for reporting this. There were changes in 0.6.0, but it's not apparent to me exactly what the cause of this behavior. This is definitely a bug though. I'll try to tag a patch version in the next day or two once I get this fixed.

[2018-10-13 13:01] Stratus3D commented on #150
I think the equivalent for asdf would be:

[code]

[2018-10-15 22:44] blimmer opened #374 "Idea: asdf_exec helper?"
First of all, thank you for this tool. I've been working in it for just a few days now and it's going to greatly slim down all the version managers I have installed 🍻

Today I ran into a situation where a shell script was being executed outside the context of a login shell. This was causing the `bashrc` to not be sourced, which didn't shim the `PATH` variable.

Therefore, I created a simple script

[2018-10-17 00:32] mwean opened #375 "prefix command?"
I'm writing some scripts that need to know where things like configuration or data files are stored, and rather than hard-code something like `"#{ENV["ASDF_DATA_DIR"]}/installs/redis/#{version}/data/"`, I thought it would be nice to add a `prefix` command to return the data directory of a specific version. Prefix probably isn't the best name, it's just what homebrew uses.

[code]

What do you thin

[2018-10-17 13:04] Stratus3D commented on #375
`asdf where redis` and `asdf which redis` should give you what you need:

[code]

An issue already exists for improving the `which` command so it works with any shim in any plugin, see issue #205. I'm closing this since it is similar to #205.

[2018-10-17 13:04] #375 closed

[2018-10-17 13:06] Stratus3D commented on #252
Closing this since I do not think this is a bug in asdf.

[2018-10-17 13:06] #252 closed

[2018-10-17 19:43] mwean commented on #375
Ah! Sorry, I thought `which` and `where` were both just returning the executable location. Thanks!

[2018-10-19 01:10] #229 closed

[2018-10-19 15:10] sr105 opened #378 "enhancement: Add "shell" command"
`pyenv` has "shell", "local", and "global" commands. The "shell" command sets or reports the currently set tool version via environment variable. It would be nice if `asdf` had the "shell" command to to complement Enhancement #49.

[code]

[2018-10-20 00:43] #65 closed

[2018-10-20 02:54] #373 closed

[2018-10-20 02:57] Stratus3D commented on #373
This should be fixed now. Valid plugins should now pass the executable test in the code.

[2018-10-20 14:49] tkossak opened #380 "Which plugin/version the shim is available in?"
Is it possible to find out quickly which plugin/version a shim is available in? All i get when running non-existent shim is:

[code]

Would be nice to display where it is availble or to search it via something like `asdf shim-search chardetect`

[2018-10-20 15:50] alvarobp commented on #373
It worked for me as well https://github.com/alvarobp/asdf-minikube/pull/6

Thank you!

[2018-10-20 15:53] Stratus3D commented on #226
Closing this since there as been more recent discussion on #352.

[2018-10-20 15:55] #226 closed

[2018-10-21 22:00] jaccarmac opened #383 "Name confusion."
Hey, forgive me as I haven't done a deep dive into the project yet. So first of all let me say a general-purpose version manager sounds like a *wonderful* simplifying step.

When I saw the link to this project, however, the name got my attention as it is shared with the [de facto Common Lisp build library](https://common-lisp.net/project/asdf/). It seems there may be some ambiguity given the overl

[2018-10-22 10:00] kvokka commented on #276
Looks like it is forgotten, but the feature idea is cool!

[2018-10-22 13:46] fvictorio commented on #352
This would be great. Are there plans for doing it? I think it would be especially useful for people that come from nvm, where this is supported.

[2018-10-23 17:25] fcrespo82 opened #384 "Idea: Expose on SETUP a command to set the environment based on all plugins installed"
### Steps to reproduce

1. Install java and maven plugins and a version of each tool on macOS
2. Run `mvn`

### Expected behavior

`mvn` should run correctly

### Actual behavior

Fails with wrong `JAVA_HOME` environment variable set.

### Environment

**OS**: macOS Mojave

**asdf version**: Head

### Suggestion

What I had in mind is a "replacement" for the **exec-env** feature.

Plugins would ex

[2018-10-23 20:58] Stratus3D commented on #384
Why not set `JAVA_HOME` in your `.bashrc` or equivalent file? Having environment variables set in your shell usually isn't a problem. I set `JAVA_HOME` in a file that gets sourced by my `.bashrc`: https://github.com/Stratus3D/dotfiles/blob/master/mixins/path#L17.

[2018-10-23 21:30] mhubig commented on #162
A simple `npm config set scripts-prepend-node-path true` solved it for me.

[2018-10-23 21:46] fcrespo82 commented on #384
That's what I've done.

My `.zshrc`
[code]

Just thought would be nice to have a way to get this behavior from the version manager.

So the plugins only set what they should expose and not be aware of the other plugins to work. (like the maven one)

[2018-10-24 00:38] mracos opened #385 "Support passing a branch to the `plugin-test` command"
First of all, thanks for all the work on `asdf`, it is a really nice tool. :heart:

One use case where this feature would be really helpful is when testing changes from PRs on some sort of CI. Like here for example: halcyon/asdf-clojure#2

Maybe we can add another parameter and make `master` the default, what do you guys think?

[2018-10-24 17:11] mracos commented on #385
Yep, reading the code I saw that we need to change the [`plugin-add`](https://github.com/asdf-vm/asdf/blob/master/lib/commands/plugin-add.sh#L31) command to support this since [`plugin-test`](https://github.com/asdf-vm/asdf/blob/master/lib/commands/plugin-test.sh#L51) uses it to add the plugin. 😞

But the tip you gave me worked, thanks! :heart:

[Here](https://travis-ci.org/mracos/asdf-clojure/bui

[2018-10-24 18:59] Stratus3D commented on #385
Do you need `git -C $TRAVIS_BUILD_DIR checkout $TRAVIS_BUILD_BRANCH` though? Shouldn't travis do that for us?

[2018-10-24 19:28] mracos commented on #385
It seems that it does that by default, my mistake. 😅

But wdyt about adding the `$TRAVIS_BUILD_DIR` info to the `creating-plugins.md` guide?

[2018-10-24 19:39] Stratus3D commented on #385
What about `asdf plugin-test clojure $TRAVIS_BUILD_DIR`? Do you have to specify the build dir like that? Is the command itself not run from the build dir? I would think something like `.` or `.git` would work.

[2018-10-24 19:48] mracos commented on #385
The idea behind `$TRAVIS_BUILD_DIR` is to be consistent and explicit.
Since we are used to passing the full URL to the repo when running `plugin-test` it made sense to also pass the full path to the local git repo.

But I'm not that attached to this idea, is just a matter of taste. :smile:
What do you say?

[2018-10-24 20:00] Stratus3D commented on #385
It's not a big deal either way. I was curious if you discovered something that prevented a hardcoded path like `.` or `.git` from working. I do think we should update the plugin guide with this. Using `$TRAVIS_BUILD_DIR` is fine because example is a `.travis.yml` file, so it won't cause any problems.

[2018-10-27 15:49] mig4 commented on #244
I started looking into this, unfortunately it doesn't look like transactional properties can be achieved without some support from the plugins.

While many of them are simple (download + extract) and this could be done by installing into temp dir, then uninstalling the old one, then moving the temp location into place, there are plugins like [clojure](https://github.com/halcyon/asdf-clojure) which

[2018-10-28 21:43] Stratus3D commented on #244
I wonder if we could work around this issue by doing something like this:

1. Move the currently installed version and copy it out of it's installed directory and into a temp directory (making it unusable)
2. Tell the plugin to install that same version, with the name of the original directory containing the old version (so that if it succeeds it's in the right spot)
3. If the new version installs

[2018-10-31 03:00] #215 closed

[2018-10-31 15:44] #155 closed

[2018-10-31 15:49] Stratus3D opened #391 "Add flag to preserve build/compilation directories"
When a build fails it can be necessarily to look at the build directory after it failed. Debugging often requires inspecting logs and other files that may have been generated during the build.

Related to: https://github.com/asdf-vm/asdf/issues/74

[2018-11-02 16:56] jsatk opened #393 "After installing via homebrew shims aren't picked up"
### Steps to reproduce

[code]
### Expected behavior

I'd expect `which node` to return `/usr/local/opts/asdf/shims/nodejs/8.12.0/node`

### Actual behavior

It gives me nothing.

### Environment

**OS**: macOS Mojave 10.14.1

**asdf version**: 0.6.0

[2018-11-02 17:15] SeanRParker opened #394 "Homebrew install doesn't work"
### Steps to reproduce

`brew install asdf`

### Expected behavior

`adsf -h` should return helpful commands

### Actual behavior

asdf command not found

### Environment

**OS**: Mac Mojave 10.14.1

**asdf version**: 0.6.0

[2018-11-02 19:04] Stratus3D commented on #394
`adsf -h` isn't a command. Can you confirm you were in fact using the `asdf` command?

[2018-11-02 19:50] Stratus3D commented on #393
What do you mean by "it gives me nothing". Nothing is printed? If it does print something out can you include in that in the issue?

[2018-11-02 21:50] jsatk commented on #393
@Stratus3D nothing is printed yes. It's the same as if you were to run `which foo` or some other non-existing binary.

I see you updated the title. I think that's more accurate now that I know what's going on.

FWIW I did eventually get it to work. After doing the above steps (and a lot more mucking around in-between) I did the following and now it's working.

1. Forced a re-install of `asdf` via

[2018-11-03 08:58] ipatch commented on #263
Spent a little time messing around with man pages this evening on macOS and something I noticed is that if there is a `/path/to/super/fancy/bin` and `/path/to/super/fancy/man` then `man` should be able to pick up on the man page contained in the `/path/to/super/fancy/man` directory is contained.  A good use for this explanation is installing the GNU Coreutils it will install man pages in a non sta

[2018-11-04 18:53] ipatch commented on #263
Got to spend some more time working with man pages on macOS, and it appears macOS may actually be able to honor the `$MANPATH` env var if set properly.  However, something I have noticed is that if man pages are placed in certain directories then macOS will dynamically update the search path for man pages, which is quite handy when you know how it works. 👍

That said, personally 🙋‍♂️ I'd avoid fid

[2018-11-05 14:38] Stratus3D commented on #393
Feel free to open a PR. I think we already say something similar for Zshell.

[2018-11-05 16:01] #393 closed

[2018-11-06 15:53] #394 closed

[2018-11-07 21:20] krainboltgreene commented on #196
I just ran into this issue because Rails has a command called `bin/rake db:structure:dump` which uses `Kernal.system()` to evoke `pg_dump` in a subshell (which uses `/bin/sh`), which has it's own `$PATH` that ignores whatever I've setup in `.zshrc`. The result is as above, asdf shims not being in my path.

[2018-11-07 22:35] Stratus3D commented on #263
Wow! Thanks for taking the time to document all that. That sounds promising. I guess we need to figure out if this is something OSX specific or if this is behavior baked into `man`. If it's something in `man` itself that does this is there any reason we shouldn't add `/share/man/man1` to each version?

[2018-11-08 00:11] ipatch commented on #263
Yeah man, when I get some more free time, I explore things on a Debian 9.x box I have access to, and see if the same things apply, just not quite sure when this will happen, will post updates in this issue.

cheers
Chris

[2018-11-09 06:06] AlJohri opened #396 "document homebrew install?"
it seems like there is a maintained asdf formula but the README doesn't mention that. Here is the `pyenv` readme for example:

<img width="929" alt="screen shot 2018-11-09 at 1 05 59 am" src="https://user-images.githubusercontent.com/2790092/48246018-af0c2b80-e3bb-11e8-8e1f-eed86cce8e1a.png">

[2018-11-10 00:24] jfkw opened #400 "enhancement: add current-unset"
### Steps to reproduce

I had asdf managed golang versions installed. I want to temporarily remove any asdf managed go and resume using the system go version.

Uninstall current golang version, golang plugin gets into `version not installed` state.

### Expected behavior

After current version of golang (or other plugin managed language) is uninstalled, state should be `no version set`.

Better (r

[2018-11-12 04:17] mwean opened #402 "System Version Broken"
### Steps to reproduce

[code]

### Expected behavior

Print out the system ruby version

### Actual behavior

Hangs indefinitely

### Environment

**OS**: macOS 10.13.6

**asdf version**: 0.6.0

I tracked the issue down to the `get_executable_path` function, where it removes the shim directory from the path and tries to find the executable if the version is `system`:

https://github.com/asdf-vm/a

[2018-11-13 15:20] Stratus3D commented on #402
You are correct. There should only be one shims directory. My guess is that line should be `...s|$ASDF_DATA_DIR/shims||g...`. This is likely a bug.

[2018-11-13 19:26] mwean commented on #402
Sorry, I totally forgot to include the main point of the issue:

https://github.com/asdf-vm/asdf/blob/dab04107ff88a34d95b09a44a94320d27a2af470/asdf.sh#L19-L20

So we have a variable for _both_ shims directories, which seems wrong to me. I would expect to have one, which would be used here.

[2018-11-16 17:08] AlJohri opened #405 "ASDF_DATA_DIR or ASDF_DIR ?"
The documentation in the README states that the environment variable for the `~/.asdf` folder should be `ASDF_DATA_DIR` but locally, I only see `ASDF_DIR` defined.

Locally I see the following variables defined:

![screen shot 2018-11-16 at 11 58 14 am](https://user-images.githubusercontent.com/2790092/48636176-2fbcc000-e998-11e8-877d-a89a2f66b5a9.png)

What is the difference between ASDF_DATA_DIR

[2018-11-16 17:18] Stratus3D commented on #405
`ASDF_DATA_DIR` is the directory that contains your plugins and installs. It's not necessary to set it, and asdf does not export it. If it is not set asdf will default to using `$HOME/.asdf` as your `ASDF_DATA_DIR`, which is probably what you want. `ASDF_DIR` is the directory containing the code for asdf itself (e.g. the `bin` and `lib` dirs). If you've installed asdf using the instructions on the

[2018-11-16 17:19] #405 closed

[2018-11-16 17:38] AlJohri commented on #405
Thank you!

[2018-11-20 05:54] mwean commented on #402
Hmm I hadn't thought about compatibility with earlier versions... On the other hand, it seems like a lot of things would be broken already if most of the code is using the new variable. I would prefer just getting rid of the old one everywhere.

[2018-11-26 13:47] Stratus3D commented on #402
@rliebz support for the new `asdf_data_dir` feature is not backwards compatible, as there was no equivalent functionality in older versions. I think `$(asdf_data_dir)` is what we want.

[2018-11-26 14:06] #402 closed

[2018-11-27 05:17] jayvdb commented on #74
I think this should actually be the default, and another command is added to cleanup unneeded source & build dirs.

e.g. I just installed Python, but I didnt have `sqlite3-devel` installed, resulting in

[code]

After installing the devels, asdf needs to refetch everything, and rebuild everything, which is wasted bytes and time.

[2018-11-27 06:13] jayvdb commented on #349
This is really important for `tox` based Python projects, which need multiple versions.

[2018-11-27 09:23] jayvdb opened #407 "reshim all active plugins"
### Steps to reproduce

After running `pipenv install`, I need to run `asdf reshim python`

### Expected behavior

I should be able to run `asdf reshim` as there is only one active plugin in the current workspace

### Environment

**OS**: Linux

**asdf version**: v0.6.2

[2018-11-28 03:12] jayvdb opened #409 "Auto reshim"
### Steps to reproduce

Install any binaries with most plugins, including rust, python.

According to https://github.com/code-lever/asdf-rust/issues/14#issuecomment-438029075 , nodejs does a reshim sometimes.

### Expected behavior

reshim should occur automatically whenever possible.

### Actual behavior

Users are regularly wondering why the binaries they have installed are not available.

One v

[2018-11-29 00:18] #205 closed

[2018-11-29 08:11] nicktime opened #410 "Not all tools gets installed on `asdf install`"
### Steps to reproduce
[code]

[2018-12-03 14:25] Stratus3D opened #412 "`asdf_updates_disabled` missing from Brew installations"
[code]

I looked through the git blame for `asdf_updates_disabled`—my guess is that the intention was for homebrew to drop a file with that name in with the repo during installation, but from what I can tell, that doesn't actually happen. I couldn't find any reference in this repo or the homebrew formula to creating this file, so it seems likely it was just missed.

Since the fix in this PR report

[2018-12-03 16:43] rliebz commented on #412
In theory #411 already fixes the homebrew behavior to be correct. So we have three options here:

- Leave it as is, because it should work, even if no one is currently using `asdf_updates_disabled`
- Remove the `asdf_updates_disabled` check and just use the check for _any_ non-git repo, which includes homebrew installations. This keeps the code simplest long-term
- Add `asdf_updates_disabled` to H

[2018-12-07 16:45] rlipscombe commented on #312
For reference: https://github.com/asdf-vm/asdf-ruby/issues/25

[2018-12-10 15:30] dideler opened #413 "Setting build options in .tool-versions file"
Is it possible to specify build options as environment variables in `.tools-versions`?

For example

[code]

[2018-12-13 04:49] weragoda commented on #342
:(

[2018-12-13 15:44] dkuku commented on #195
I had a problem with version from this manual but works with the latest one without any chanages
 `asdf install erlang 21.1.3` - now I can do `mix deps.get`

[2018-12-13 18:40] Stratus3D commented on #413
It is not possible. There are two reasons for this. First is that build options may need to vary based on OS and developer, whereas versions should generally not. Typically the `.tool-versions` file is checked into version control and shared, which means it not the right place for build options that may vary. Second is that we shouldn't have to worry about trust when reading `.tool-versions` files

[2018-12-14 16:06] devxpy opened #414 "Why does asdf have a shim for "clear" command?"
### Steps to reproduce

1. install asdf
2. install python plugin
3. install python 3.6.7 and make it global

### Expected behavior

`$ clear` clears the screen

### Actual behavior

[code]

### Environment

**OS**:

[code]

**asdf version**:
[code]

P.S. Thanks for the awesome work!

[2018-12-14 16:09] devxpy commented on #414
Sorry, dope of https://github.com/danhper/asdf-python/issues/31

[2018-12-14 16:09] #414 closed

[2018-12-15 12:31] jayvdb commented on #400
I've been trying to adopt asdf, and run into this problem quite a bit.

I've found that there is a "system" version, which I now see is mentioned in the README.md and in CHANGELOG.md a few times, which is supposed to undo the version managed/set by the asdf plugin.

[code]

It should be mentioned in the `--help` as it is not obvious that `system` is an option for `<version>`.  It took me a while t

[2018-12-19 08:27] zeroshree opened #415 "Missing few libraries in Dockerfile"
I am facing problem when trying to use asdf in Dockerfile in ubuntu server (it is t2.micro aws).

DOCUMENTATION INFORMATION (See: /asdf/plugins/erlang/kerl-home/builds/asdf_21.0.4/otp_build_21.0.4.log)
 * documentation  :
 *                  xsltproc is missing.
 *                  fop is missing.
 *                  xmllint is missing.
 *                  The documentation can not be built.
Docke

[2018-12-19 14:49] dideler commented on #413
Very valid reasons, thanks for explaining!

[2018-12-19 14:49] #413 closed

[2018-12-19 14:56] Stratus3D commented on #415
Are you using the latest version of asdf-erlang? I think we recently changed how it does documentation. By default it shouldn't build any docs.

[2018-12-19 15:20] zeroshree commented on #415
I am using version asdf_21.0.4 for asdf-erlang.

[2018-12-19 15:52] Stratus3D commented on #415
`asdf_21.0.4` isn't a version. I'm talking about the plugin itself, not the Erlang version. Are you using the latest version of asdf-erlang? You can verify you are by running `asdf plugin-update erlang`

[2018-12-19 18:14] zeroshree commented on #415
Ok I ll check

On Wed, 19 Dec 2018, 21:22 Trevor Brown <notifications@github.com wrote:

[2018-12-22 20:19] #327 closed

[2018-12-23 21:54] philippneugebauer opened #418 "/usr/local/libexec/private/asdf-exec: No such file or directory"
I was following this tutorial: https://www.mitchellhanberg.com/post/2017/10/05/installing-erlang-and-elixir-using-asdf/

[code]

I could not find anything regarding my issue but I also did not find anything I might have missed in my installation

**OS**: macOs Sierra

**asdf version**: 0.6.2

[2018-12-26 14:19] Stratus3D commented on #410
Closing since this is a duplicate of #269 and https://github.com/asdf-vm/asdf-erlang/issues/57.

[2018-12-26 14:19] #410 closed

[2018-12-29 12:07] obahareth opened #420 "asdf shims not being detected on Fish 3"
### Steps to reproduce

1. Had asdf working fine on Zsh, began switching to Fish and followed the Fish instructions from the README and even though sourcing `asdf.fish` is the very last line in my config, my shims still aren't being detected.

This is my `config.fish`

[code]

asdf is the very last thing in my `$PATH` with this configuration.

### Expected behavior

asdf should be appear before ot

[2018-12-31 10:19] aitor commented on #80
Just for the record… coming from rbenv I was expecting to be able to check the global version (versus the current one) to customize my shell (powerlevel9k) and display the elixir version only in the folders where its version differs from the global setting.

[2018-12-31 12:35] aitor commented on #80
My solution to the problem for anyone that finds this: https://gist.github.com/aitor/d6a67fd9aa31905a0a90ebba977aac5f

[2019-01-02 11:42] look4regev commented on #418
I had the same problem.
To fix simply edit `/Users/me/.asdf/shims/elixir` and change the `/usr/local/libexec/private/asdf-exec` to `/usr/local/Cellar/asdf/0.6.2/libexec/private/asdf-exec`.
I think it is caused because I had an old asdf 0.6.0 which was missing the `.zshrc` activation (`source /usr/local/opt/asdf/asdf.sh`).

[2019-01-02 20:52] #420 closed

[2019-01-03 07:13] jthegedus commented on #274
Hey all,

this is an update to the search for the correct tool to create docs for `asdf-vm`. After trying almost every docs generator and their associated plugins systems I've settled on [Docsify](https://github.com/docsifyjs/docsify) as it is the most simple and easy solution to the below criteria:

Core
* just markdown - lowest barrier to entry for contributions
* no compilation/ci/deployment pr

[2019-01-03 14:07] obahareth commented on #420
Yep fixed this for me, thanks!

[2019-01-03 14:09] Stratus3D commented on #73
I think we should close this. Some plugins can already used pre-compiled binaries for certain systems (asdf-elixir, and maybe asdf-ruby?). Even Erlang has pre-compiled packages available from Erlang solutions. I think this should be left up to the plugin maintainers and the communities around the individual programming languages. Some have pre-compiled packages, and some do not. If they don't it's

[2019-01-04 22:55] #396 closed

[2019-01-04 22:58] Stratus3D commented on #415
Closing this as I believe this is something that has been addressed in the latest version of asdf-erlang.

[2019-01-04 22:58] #415 closed

[2019-01-04 23:00] Stratus3D commented on #279
Closing as I think this has been fixed.

[2019-01-04 23:00] #279 closed

[2019-01-05 16:19] #324 closed

[2019-01-06 06:09] zeroshree commented on #415
yes , please close it since I resolved it.

On Sat, Jan 5, 2019 at 4:28 AM Trevor Brown <notifications@github.com>
wrote:

[2019-01-10 09:38] abumalick commented on #418
Thank you very much @look4regev it worked for me.

 I just installed asdf v0.6.2 from homebrew so it is not due to an old version for me

[2019-01-10 09:42] abumalick commented on #418
I had the problem for nodejs and python

running this, avoids the edition of all shims:
[code]

[2019-01-10 15:18] d4rky-pl opened #425 "Homebrew setup instructions are incorrect"
The setup instructions are incorrect - the Homebrew formula installs things a bit differently.
The paths (in case of Bash) are:

[code]

[2019-01-15 12:15] tcoenraad commented on #418
By turning the command into

```sudo ln -s /usr/local/opt/asdf/libexec/ /usr/local/libexec```

you make it version unaware :wink:

[2019-01-15 12:18] abumalick commented on #418
thank you very much @tcoenraad

[2019-01-15 17:22] dmlemos opened #428 "Version command fails on macOS after first installation"
### Steps to reproduce

`$ brew install asdf`

Follow instructions from #425

`$ asdf version`

### Expected behavior

asdf should display program version

### Actual behavior

[code]

### Environment

**OS**: macOS 10.14.2

**asdf version**: 0.6.2

[2019-01-15 17:35] dmlemos opened #429 "Update command fails on macOS after first installation"
### Steps to reproduce

Make sure `.asdf` folder doesn't exist (first time installation)

`$ brew install asdf`

Follow instructions from #425

`$ asdf update`

### Expected behavior

asdf should proceed to the upgrade

### Actual behavior

`/usr/local/opt/asdf/lib/commands/update.sh: line 5: cd: /Users/xxx/.asdf: No such file or directory`

### Environment

**OS**: macOS 10.14.2

**asdf version**

[2019-01-15 22:31] heydonovan commented on #429
It looks like `asdf` is assuming we installed it via git clone:

[code]

Though in this case, we would most likely run `brew upgrade asdf`.

[2019-01-16 05:59] vic opened #431 "Shims dont work if same executable is provided by many plugins"
### Steps to reproduce

Install two tools that create shims for the same executable. For example both `nodejs` and `graalvm` provide their respective `npm` executable. Same should happen with `java` and `graalvm`.

In project A:

[code]

In project B:

[code]

### Expected behavior

In project A, executing `npm` should use the `graalvm` executable.
In project B, executing `npm` should use the `nod

[2019-01-17 02:46] ttilberg commented on #428
I am having this issue as well using homebrew. I suspect this function is not working as expected when running from brew https://github.com/asdf-vm/asdf/blob/786fac791c242bee9222ceac792b6b78847cbb24/lib/utils.sh#L12

While looking into this a bit more, I found that
`${BASH_SOURCE[0]}` evaluates to `/usr/local/lib/utils.sh` which seems a bit odd, as it's not namespaced in any way. `utils.sh` seems

[2019-01-17 02:52] ttilberg commented on #425
I tried installing asdf for the first time tonight, and it did not work (as this issue suggests). I was digging into it on my system and left some notes for someone who is more fluent in brewing (and/or this project).

https://github.com/asdf-vm/asdf/issues/428#issuecomment-455022420

Hopefully this is helpful for someone.

[2019-01-17 08:51] tkossak commented on #380
Also the error text doesn't tell what command exactly is missing:

[code]

I have no idea what command `git` runs, that isn't available in current python.

[2019-01-18 08:21] vic commented on #431
Should be solved by #432

[2019-01-18 14:11] Preen commented on #391
+1

[2019-01-19 20:10] #431 closed

[2019-01-19 20:12] vic commented on #407
Fixed in ed843f29f66a0cdb99ee0c2e731bbba79452839d

[2019-01-19 20:12] #407 closed

[2019-01-19 20:14] vic commented on #290
Could you people test with current master (cc7886309271b21a7da3fccf8efc892b546ffbbb) and report if shim execution has improved with the new shim exec?

[2019-01-19 20:17] vic commented on #352
@mwean current branch has pre/post install hooks support. so you can try and use them to create symlinks as mentioned in previous comments.

[2019-01-19 20:20] vic commented on #380
new `asdf shim-versions` command is in master now.

[2019-01-19 20:20] #380 closed

[2019-01-19 20:32] vic commented on #400
Could you try using master (cc7886309271b21a7da3fccf8efc892b546ffbbb) and see if setting `system` (either on .tool-versions or as env-var) works now ?

`env ASDF_GOLANG_VERSION=system go version` # should execute your system's go without asdf-shims in PATH

`env ASDF_GOLANG_VERSION=system which go` # should print the asdf go shim.

[2019-01-19 21:42] mwean commented on #352
Awesome! I'll give it a try

[2019-01-20 02:13] vic commented on #374
New shims (6da747b6cebcdd46269415654f24cc1db258e842) are just wrappers for `asdf exec tool args...` so you can now invoke tools by having only `asdf` available but not the shims directory in PATH.

[2019-01-20 02:13] #374 closed

[2019-01-22 11:08] tkossak opened #436 "Update command disabled"
### Steps to reproduce
[code]

### Expected behavior

asdf was installed using `git clone` so I hoped `asdf update` would switch to proper commit. Does it mean I should checkout proper commit manually or should `asdf update` work?

### Actual behavior

Error: `Update command disabled. Please use the package manager that you used to install asdf to upgrade asdf.`
What is interesting, when I `cd` in

[2019-01-22 17:15] Stratus3D commented on #436
I am not able to reproduce this. Is your update command only working inside the `~/.asdf` directory? Or does it work in other places too?

[2019-01-23 00:08] pikeas commented on #425
Same issue here, after running `brew install asdf` on Mojave 10.14.2, and before sourcing either script, running `asdf` outputs the following:

[code]

[2019-01-23 07:31] tkossak commented on #436
I just tried updating on my other computer and the same thing happened:

[code]

[2019-01-23 14:11] Stratus3D commented on #436
This is the conditional for disabled updates:

[code]

One of those two expressions must be evaluating to true. Can you check if the `asdf_updates_disabled` file is present? And can you check the output of `git rev-parse --is-inside-work-tree` inside your `~/.asdf` directory?

[2019-01-24 08:40] tkossak commented on #436
I don't have `asdf_updates_disabled` file anywhere in my $HOME directly or indirectly.

[code]

[2019-01-24 08:59] tkossak commented on #436
I tried updating one more time:
[code]

[2019-01-24 09:01] OldhamMade commented on #418
Happening for me also. Is there a fix planned so users don't have to hack around creating symlinks?

[2019-01-24 13:32] coka opened #438 "Project introduction not clear enough"
Hi! :wave:

Your project was mentioned in a recent HN thread, and the [comments](https://news.ycombinator.com/item?id=18987739) included this bit:

I have to admit that this person _does_ have a point. Maybe you could explicitly mention which tools this project replaces, what benefits does replacing them bring, as well as provide a comparison chart (mentioning features such as the one discussed in

[2019-01-24 15:06] Stratus3D commented on #436
I'm pretty sure in the context of the update code `$ASDF_DIR` is not set.

[code]

`cd` will navigate to your home directory when not given an argument, so I bet the code is running in your home directory. And of course it's not a Git repository so that check fails.

[2019-01-24 15:32] tkossak commented on #436
Yes, `$ASDF_DIR` is not set. Should it be set by [asdf.fish](https://github.com/asdf-vm/asdf/blob/master/asdf.fish) file? Because it doesn't export `ASDF_DIR` for fish shell, it only uses local variable `asdf_dir` - with lowercase and initialized using `set -l`, so it's local variable (not exported). Maybe this file should use `set -x ASDF_DIR ...` instead?

[2019-01-24 15:40] tkossak commented on #436
I can confirm that when I added `set -x ASDF_DIR (dirname (status -f))` to `asdf.fish` the `asdf update` works correctly (no matter the current directory).

[2019-01-24 15:43] Stratus3D commented on #436
Yes it should, that's definitely a bug.

[2019-01-24 20:12] #436 closed

[2019-01-24 21:08] Stratus3D commented on #438
Thank you for reporting this. I do think the readme has recently changed, and the current wording doesn't really convey what asdf's strengths are. We need to update the first few lines of the readme. Looks like the Hacker News comments have some good suggestions on how to improve it.

[2019-01-26 06:32] ionull opened #442 "Unable to use asdf with electron-rebuild"
### Steps to reproduce

Tell us what actions you performed before the issue occurred

Unable to use asdf with electron-rebuild: https://github.com/electron/electron-rebuild/issues/271

### Expected behavior

Tell us what should have happened

### Actual behavior

Tell us what happened instead

Error: No such plugin: nodejs

### Environment

**OS**: macOS 10.14.2

**asdf version**: v0.6.3

[2019-01-26 20:29] nverno opened #443 "asdf where print to stdout when no version installed"
### Steps to reproduce
Calling 'asdf where ...' when plugin is installed but no versions installed prints to stdout but
returns error code 1.

### Expected behavior
'asdf where ...' prints to stderr when no versions installed.
This would allow something like

`GOPATH=$(asdf where golang 2>/dev/null) && export GOPATH`

without needing additional checks.

### Actual behavior
prints to stdout

### En

[2019-01-26 20:31] #443 closed

[2019-01-27 22:00] Stratus3D commented on #442
Can you please complete the issue template? It's not clear what the steps are to reproduce this issue.

If asdf printed `Error: No such plugin: nodejs` that means the Node.JS plugin has not been found. This could be due to it not having been installed, or due to some other issue preventing asdf from locating the plugin.

[2019-01-27 23:35] Stratus3D commented on #73
I'm going to close this. We should support communities that want to offer pre-compiled binaries for certain version/operating system combinations by making it easy to build plugins that can both use pre-compiled packages and compile source code. But I think for the most part this is should left up to the language creators and the immediate community around the language.

[2019-01-27 23:35] #73 closed

[2019-01-28 04:59] PatOConnor43 opened #444 "Should asdf check valid versions before trying to install?"
Hi, I just have a question as a plugin maintainer. I've noticed that it is possible to try to install a version that is not available as part of the `list-all` command. As an example, I could run `asdf install python 5` and that version is then handed off to the `install` script for the python plugin. My question is, should it?

It seems like asdf could call the plugin's `list-all` before handing

[2019-01-28 08:06] ionull commented on #442
https://github.com/electron/electron-rebuild/pull/273
Hi there, I am not sure it is that rebuild repo bug or not, can you check this pull request?

[2019-01-28 14:17] Stratus3D commented on #442
It's not our responsibly to investigate bugs or review PRs for other software. If there is a bug there it is the responsibility of those maintainers and not asdf maintainers. If you update this issue with all the steps necessary to reproduce it we will investigate. I'm closing this because it's not a valid issue. I'll reopen if you can provide more specifics on the issue.

[2019-01-28 14:17] #442 closed

[2019-01-28 14:30] Stratus3D commented on #429
@dmlemos the behavior is correct but the error message it outputs is not. We need to add another check to make sure the directory exists before trying to `cd` to it, and if it doesn't exist print the message about not being able to upgrade.

[2019-01-29 01:11] nirvana-msu opened #446 "Automatically re-hash shell commands after installing new tool version"
### Steps to reproduce

1) Install some tool using some other way (not through `asdf`)
2) Run the tool. At this point bash will hash the full path to the executable (so that next time it will avoid searching `$PATH`)
3) Install another version of the tool using `asdf`
4) Set the version you want to use, e.g. `asdf global <tool> x.y.z`
5) Run the tool.

### Expected behavior

I would expect asdf sh

[2019-01-29 02:38] PatOConnor43 commented on #444
oh wow, I didn't know asdf-link existed. That is a good point. Thanks!

[2019-01-29 02:38] #444 closed

[2019-01-29 11:33] jthegedus commented on #274
It's live! Checkout the readme and site!

[2019-01-29 11:33] #274 closed

[2019-01-29 11:36] jthegedus commented on #438
@coka I believe this has been address appropriately in #440 and #441

Please re-open this issue if you feel otherwise :smiley:

Please take a look at the new README and documentation site http://asdf-vm.github.io/asdf/#/ Feedback or additions are encouraged!

[2019-01-29 11:36] #438 closed

[2019-01-29 14:00] coka commented on #438
Yeah, much better! :smiley: Good work!

[2019-01-29 19:19] rlipscombe opened #447 "asdf which python -- unary operator expected"
[code]

[code]

Might be related to #191.

[2019-01-30 11:55] tkossak opened #449 "duplicated paths for fish 3.0"
There were some breaking changes in Fish 3.0.0, that result in asdf adding duplicated (and broken) paths for nested fish shells. This happens on both asdf 0.6.3 and latest master.

**How to reproduce:**
Start new fish >= v3.0.0 shell and write:
[code]

**Result:**
In last output line variable `$fish_user_paths` (in result `$PATH` too!) contains duplicated directories (2 bins and 2 shims)

**Expect

[2019-01-31 08:07] jayvdb opened #450 "Windows support? Docs & tests for WSL2"
It would be great to have core support for windows, assuming it has git bash or similar, with Appveyor CI keeping it from breaking.

[2019-01-31 08:15] jayvdb commented on #446
Similar to https://github.com/asdf-vm/asdf/issues/409

[2019-01-31 10:44] abhishalya commented on #450
I would like to work on this issue :)

[2019-01-31 11:09] jthegedus commented on #450
I know this will not help with CI tools, but just so it is documented in this thread for those who are looking for personal Windows use. I've used asdf-vm inside Windows 10 via WSL (Ubuntu) many times of the past two years. Following the Ubuntu Bash setup is compatible with using WSL.

[2019-02-01 14:14] mdesantis opened #452 "asdf update completion for fish shell missing"
### Steps to reproduce

Using fish shell, write: `asdf upd<TAB>`

### Expected behavior

The command should be completed to `asdf update`

### Actual behavior

The command isn't completed to `asdf update`

### Environment

**OS**: Linux

**asdf version**: 0.6.3

[2019-02-01 15:02] Oscarteg commented on #425
The issue @ttilberg linked to has helped me solve the same problem.

TLDR: put `export ASDF_DIR=$(brew --prefix asdf)` in your `.bash_profile` or `.zshrc` or whatever you are using.

[2019-02-02 08:39] davorbadrov opened #453 "Setup docs for Fedora seem to be wrong"
The docs seem to be wrong for Fedora, more precisely the [Plugin dependencies](https://asdf-vm.github.io/asdf/#/core-manage-asdf-vm?id=plugin-dependencies) section.

### Steps to reproduce

Following these steps on the [documentation site](https://asdf-vm.github.io/asdf/#/core-manage-asdf-vm):

1 - clone the repo
[code]

2 - add scripts for autocompletion
[code]
3 - **this step breaks** install pl

[2019-02-02 08:51] jthegedus commented on #453
Sorry, this is my bad. These previously used to be just a list of dependencies to install, not a direct command. Would you be able to PR a docs change?

[code]

Is this the only change that needs to occur?

[2019-02-02 09:47] davorbadrov commented on #453
Sure, my pleasure. The tool seems pretty handy.

The PR is here #454

It should add correct commands for Fedora and macOS.

[2019-02-02 09:56] #453 closed

[2019-02-04 19:06] juliofortunato opened #456 "Docs translation"
Hey there!
I'm interested in translating the new docs site. How can I do that?

[2019-02-04 22:59] jthegedus commented on #456
Hi @juliofortunato I'd love to get this translated to many languages! :tada:

I've still got to update the contribution guide to make this more thorough, but the gist is this:

Docsify supports multiple languages so it's pretty easy. The configuration to support multiple languages goes in the `docs/index.html` file and then routes to the correct `.md` file.

Take a look at - https://docsify.js.org

[2019-02-08 00:35] Sevensidedmarble opened #458 "Temporarily changing versions for a shell session"
One thing I really like about pipenv is that it has a command called `pipenv shell` that will open a new shell instance with a given python version set, that's a temporary session.

I would love to have something like this with asdf. Either:
[code]
That would act like I described above, or something that would not create a new shell process, but would make a change to the shims that would only las

[2019-02-08 14:29] Stratus3D commented on #458
This is already supported with environment variables. See https://asdf-vm.github.io/asdf/#/core-manage-versions?id=set-current-version. You'll just need to set `ASDF_${TOOL}_VERSION` before running Vim.

[2019-02-08 14:29] #458 closed

[2019-02-08 15:03] Stratus3D commented on #449
This seems related, not sure if it would fix this issue though: https://github.com/asdf-vm/asdf/pull/455

[2019-02-10 19:14] Stratus3D opened #459 "Clarify usage of asdf env command in help output"
### Steps to reproduce

Run `asdf`. In help output a line is printed for the `asdf env` command:

[code]
I would assume `<command>` is an arbitrary command. But from what I can tell needs to be a plugin name or a shim name? I'm also not sure how this differs from executing the shim directly.

FYI @vic

[2019-02-10 19:34] Stratus3D commented on #431
I like the solution you have proposed here. Great work @vic!

[2019-02-10 19:55] Stratus3D opened #461 "This could be problematic if it happened when a shimmed command got executed by a users shell script, and the script relied on the output of the command. This extra text could break exist shell code in other scripts."
This could be problematic if it happened when a shimmed command got executed by a users shell script, and the script relied on the output of the command. This extra text could break exist shell code in other scripts.

_Originally posted by @Stratus3D in https://github.com/asdf-vm/asdf/pull/432/review_comment/create_

Creating an issue since I think this merits investigation before we tag 0.7.0.

[2019-02-11 18:28] osenvosem opened #464 ""Can't check signature: No public key" while trying to install node.js"
### Steps to reproduce

Installed asdf and nodejs plugin following the corresponding instructions.
Then try to install a nodejs version using the command `asdf install nodejs 11.9.0` for instance

### Expected behavior

It should install nodejs without errors.

### Actual behavior

Gives error:

[code]

### Environment

**OS**:
macOs 10.14.3

**asdf version**:
v.0.6.3

[2019-02-11 18:38] Stratus3D commented on #464
Please follow the installation instructions on the asdf-nodejs readme: https://github.com/asdf-vm/asdf-nodejs#install. You'll need to import the release team's keys before you can install Node.JS. If after importing this is still a problem please open an issue on the asdf-nodejs repository.

[2019-02-11 18:38] #464 closed

[2019-02-11 23:32] samneely commented on #269
I'm new to `asdf` and noticed this as well. I'm really hoping that this becomes a feature with `asdf install`. Is this something that could be added in the near-ish future?

[2019-02-13 09:50] tkossak commented on #449
For me it doesn't fix mangled paths in fish 3.0.0. Using this new `asdf.fish` results in:

First (not nested) shell:
[code]

I have proper paths above, but when I run nested shell:

[code]

What's wrong: first path in `$PATH` is broken path - it is string containing multiple paths concatenated by space.

[2019-02-13 09:57] tkossak commented on #449
For me the fix is to use universal `$fish_user_paths` variable (as it is intended to be used according to fish developers). So I run **once**:

[code]

And remove most of the lines from `asdf.fish` so whole file looks like this:

[code]

and everything works correctly:

[code]

[2019-02-13 13:56] abhishalya opened #465 "Failing tests on windows."
In reference to https://github.com/asdf-vm/asdf/issues/450 and https://github.com/asdf-vm/asdf/pull/451 I have been preparing appveyor CI to run tests. Initially I found that most of the tests are failing with the usual bash for windows. To get the maximum compatibility, I switched to cygwin bash and now most of the tests pass directly.

But some of the tests are still failing, six are from the fi

[2019-02-14 20:21] Stratus3D opened #469 "Incorrect "Edit on Github" link for Changelog and Plugins pages"
### Steps to reproduce

1. Navigate to the Changelog page on the documentation site.
1. Click the "Edit on Github" link.

Note this is still a problem for the "Edit on Github" link on the plugins page.

### Expected behavior

It should have taken me to the Changelog edit page on Github. Currently the URL used by the "Edit on Github" link is `https://github.com/asdf-vm/asdf/edit/master/docs/https:/

[2019-02-18 12:57] pmk1c opened #470 "asdf is not using version from local legacy file"
### Steps to reproduce

Install asdf 0.6.3
Run `asdf plugin-add ruby`
Create a directory with a `.ruby-version` file and a ruby version VERSION specified
Run `asdf install ruby VERSION`

### Expected behavior

`ruby -v` should give VERSION

### Actual behavior

`ruby -v` gives version from default `~/.tool-versions`

### Environment

**OS**: Fedora

**asdf version**: 0.6.3

The problem disappears

[2019-02-20 12:16] dtcristo commented on #449
@tkossak I've had similar issues dealing with asdf and fish 3.0. I've made the following change in my local `asdf.fish` and it works for me.

I just changed
[code]

to
[code]

See the change in context [here](https://github.com/dtcristo/asdf/commit/eda0c202a53dfaf8d41501991bf236350af65d69).

In this case you're not going to get the asdf paths added multiple times to the universal variable because

[2019-02-20 22:17] azhi commented on #352
+1 for the feature coming from rvm (ruby). It is even more unexpected when `legacy_version_file` is set to `yes`, and `.ruby-version` contains something like `2.6` which worked for rvm but is not working for asdf.

Pre/post install scripts won't fix the issue if no suitable version was installed beforehand. On the other hand, introducing fuzzy matching between version specified in `.tool-versions`

[2019-02-27 21:14] KellyBennett opened #473 "asdf install does not set local version specified in tool-versions."
### Steps to reproduce

This issue is not Rails specific, but to illustrate the point. Say you have a Rails project.
• In the root folder of the project, create `.tool-versions` which contains
[code]
• run `asdf install`
• run `bundle exec rails s`

### Expected behavior
The server should start.

### Actual behavior
Outputs `No version set for Ruby; please run 'asdf <global | local> Ruby <version>

[2019-02-27 21:18] KellyBennett commented on #473
False alarm. It's cuz it should be `Ruby`, not `ruby` in the `.tool-versions` 🤦‍♂️. My b

[2019-02-27 21:18] #473 closed

[2019-03-01 04:02] Stratus3D commented on #429
@heydonovan can you try out that PR I just created? I think I fixed the issue but I'm not sure since I was not able to reproduce it locally.

[2019-03-01 20:09] #429 closed

[2019-03-02 14:52] Stratus3D commented on #461
Closing since I've tagged 0.7.0.

[2019-03-02 14:52] #461 closed

[2019-03-04 11:54] rickclare commented on #470
This is also occurring for me, after upgrading to **asdf v0.7.0** (via homebrew).  It doesn't look like it's just applicable to `asdf-ruby`, as **asdf** also appears to be ignoring my local `.nvmrc` file

[code]

[2019-03-04 15:06] Stratus3D commented on #447
@rlipscombe we just released v0.7.0, can you see if upgrading fixes this issue?

[2019-03-04 17:25] Stratus3D commented on #283
Closing this since I don't think there is anything we can do to fix this.

[2019-03-04 17:25] #283 closed

[2019-03-04 21:28] a4z commented on #283
this issue helped to get some activity done from JetBrains, they added asdf support in 2018.2
asdf is now even in the documentation
https://www.jetbrains.com/help/ruby/2018.2/ruby-version-managers.html
however, since I use vs code these days I can not say how well this works
so I think closing is OK, thanks!

[2019-03-04 22:02] renews commented on #283
Yes it does.

[2019-03-05 05:55] craigp opened #475 "Error message after exiting Elixir/Erlang using ctrl-\ when running with asdf v0.7.0"
### Steps to reproduce

Upgraded asdf to 0.7.0 using `asdf update`, upgraded plugins using `asdf plugin-update --all`. Run an Elixir REPL: `iex`. Happens when exiting Erlang REPL `erl` as well.

### Expected behavior

Normally when exiting with `ctrl-c ctrl-c` or `ctrl-\` the app exits quietly.

### Actual behavior

When using `ctrl-c ctrl-c` app exits normally. When using `ctrl-\` I see the follo

[2019-03-05 13:20] Stratus3D commented on #475
You need to run `asdf reshim` after upgrading, did you? I'm not able to reproduce this issue on OSX 10.14.3.

[2019-03-05 22:53] craigp commented on #475
I hadn't run `reshim`, but after doing so there is no change

[2019-03-05 23:36] craigp commented on #475
Just to be sure, I wiped my `~/.asdf` dir, cloned asdf from git and installed elixir and erlang from scratch, same error

[2019-03-07 01:29] JiniousChoi opened #476 "Cannot install ipython"
### Steps to reproduce

Tell us what actions you performed before the issue occurred
[code]

### Expected behavior

`pip install ipython` should install actual executable `ipython` command.

### Actual behavior

Supposedly, some deps are installed/checked and that's all. The actual `ipython` doesn't exist nowhere

### Environment

**OS**:
MacOS MBP

**asdf version**:
version: v0.5.1

[2019-03-07 13:58] Stratus3D commented on #476
Did you try running `asdf reshim` after the `pip install`? The shim might be missing. If that doesn't fix the issue you may want to report this on https://github.com/danhper/asdf-python/issues.

[2019-03-07 14:03] Stratus3D opened #477 "Where command does not print a helpful message when system version is set"
Discovered `~/.asdf` was a git repo, checked out tag `v0.7.0`, ran `asdf reshim`.

[code]

The `where` could still be improved, but the `which` command appears to be fixed.

_Originally posted by @mclark-newvistas in https://github.com/asdf-vm/asdf-nodejs/issues/122#issuecomment-469817417_

[2019-03-07 19:28] bowmanmike commented on #470
Having the same issue with `.ruby-version` files on MacOS High Sierra since upgrading asdf to `0.7.0` via Homebrew. Seems like it's only respecting the `.tool-versions` file, rather than the legacy files.

[2019-03-08 10:45] dc0d opened #478 "Wrong ordering for versions"
### Steps to reproduce

Anybody can help with `asdf`? Here is the problem:

We have:

[code]

And after doing this:

[code]

We have our tools set:

[code]

But it can not find the `erl` command:

[code]

IMO this is a bug with `asdf` because if you look at the output of list sub-command, erlang `21.1` comes after erlang `21.1.1` and that can be the reason for this. And if erlang `2.1.1` is set, i

[2019-03-08 12:31] tkossak commented on #449
@dtcristo Yes, this solution works for me too, even without clearing any fish variables (just set `set -U` instead of `set -gx` in asdf.fish).

[2019-03-08 23:13] mcountis commented on #470
Same problem here. `env`, `which`, and `exec` commands differ by looking up through the file hierarchy for `.tool-versions` files, _then_ looking up through the hierarchy for legacy version files. In my case my `$HOME/.tool-versions` was taking precedence over *any* other `.ruby-version` files (`$HOME/.tool-versions` respected before `$HOME/project/.ruby-version`). My fix was to remove `$HOME/.too

[2019-03-09 14:44] Stratus3D commented on #447
Closing since I am not able to reproduce this issue in version 0.7.0.

[2019-03-09 14:44] #447 closed

[2019-03-11 04:34] JiniousChoi commented on #476
This command,`asdf reshim python 3.6.5`, resolved the issue. Thanks alot.
Before closing this issue, what does this `reshim` actually do?

[2019-03-11 13:08] Stratus3D commented on #476
Shims are scripts asdf places in a special directory on your path. They are named the same as the executables your plugin have installed, but instead of being the actual executables, they contain some metadata and a small snippet of shell code. When you execute something, say `python`, you are actually invoking the shim named `python`. It then invokes some code to figure out the right version of p

[2019-03-11 13:10] Stratus3D commented on #476
Sometimes shims aren't created or get removed, which is likely what happened here with `ipython`. In such cases a simple `asdf reshim` should fix your issue. Most likely shims are not created for python when the `pip` command is run, so going forward you'll probably want to run `asdf reshim` after installing something with `pip`.

[2019-03-11 13:10] #476 closed

[2019-03-11 14:23] bowmanmike commented on #470
That worked well for me. I also found that you can still use a `~/.ruby-version` file to set the global ruby version.

[2019-03-11 16:52] SRGOM opened #481 "Can asdf be installed in a per-computer config?"
Say root installs and everybody uses?

[2019-03-11 18:41] Stratus3D commented on #481
Yes, it's possible, but it's currently it's not documented or officially supported. The only thing we really have to do to make this happen is document the proper installation process.

[2019-03-13 13:49] dboune commented on #428
This appears to have been fixed, along with a few other things.

asdf version: 0.7.0 installed via homebrew

Running `asdf version` or `asdf --version` produced no error.

[code]

I am **not** setting or exporting `ASDF_DIR` manually.

[code]

bash completions work out of the box, no need to source manually

When listing/installing plugins, data is placed in `~/.asdf/`

Working nicely for this new

[2019-03-13 14:27] dboune commented on #425
**Note**: If a homebrew user already has bash completion configured for homebrew (see: [configuring-completions-in-bash](https://docs.brew.sh/Shell-Completion#configuring-completions-in-bash)), or has properly installed the `bash-completion` or `bash-completion@2` package, sourcing the completions manually is unnecessary.

[2019-03-14 02:28] dboune commented on #352
New user of asdf, and enjoying it. I'd also be pleased to see this. I'd suggest that `.tool-versions` follow something like is commonly done for "Semantic Versioning" schemes to allow pinning to a specific version, or following minor / patch releases. Naturally it's up to the system owner to install a given version of a tool, but at least one chore can be reduced in a variety of cases.

#### Use C

[2019-03-14 02:59] SeanSith commented on #470
I think this is something to do with `tool_versions()` at https://github.com/asdf-vm/asdf/blob/master/lib/utils.sh#L592 not going looking for legacy files.

`find_tool_versions()` at https://github.com/asdf-vm/asdf/blob/master/lib/utils.sh#L383 only goes looking for the specific `.tool-versions` file.

[2019-03-14 18:45] danhper opened #482 "Multiple versions broken"
Hi guys,

Sorry I did not have much time to help recently.
It seems that with the latest version we lost the ability to set multiple versions for the same plugin.
I've been relying on this behavior a lot and I think it's a must have for Python.
I'll try to look into the changes to see how this can be restored but I'll start by opening an issue.

### Steps to reproduce

[code]

### Expected behavio

[2019-03-14 21:45] #452 closed

[2019-03-15 18:21] khipukamayuq opened #485 "Can't run iex"
### Steps to reproduce

Tell us what actions you performed before the issue occurred
I'm aware this might not be asdf, but posting just in case. Also, apologizing in advance in case it's actually not and anyone's time is wasted; I'm sorry. I've migrated my employer provided Ubuntu 18.10 device to another for an unrelated issue. I had working elixir, erlang, mix, iex, and other related such things

[2019-03-16 00:43] danhper commented on #485
I suspect the package containing the shared object was upgraded and Erlang therefore needed to be reconfigured and recompiled to use the correct shared objects.
Indeed, Ubuntu 18.10 only seems to have libtinfo6, which explains the issue.
I don't think this is really related to asdf so I think we can close. Please comment if you think there is anything we should improve on our side.

[2019-03-16 00:43] #485 closed

[2019-03-16 14:14] juliofortunato commented on #456
Hey @jthegedus, sorry for taking so long.

I have translated all the docs pages but there are a couple of problems with Docsify I couldn't realize how to fix.

1. Translation works fine on local, but when deployed to GitHub Pages the sidebar does not change after selecting a different language. (You can check it here: https://juliofortunato.github.io/asdf)
Note that coverpage changes for the trans

[2019-03-16 16:13] Stratus3D commented on #475
I was able to reproduce this on my machine now. @asdf-vm/core I think this is caused by the shims no longer using `exec` to execute the executables installed by plugins. I think this change was made so we could have post run hooks - https://github.com/asdf-vm/asdf/blob/master/lib/commands/shim-exec.sh#L24. I think we should revert some of these changes so `exec` is used again. There are a couple b

[2019-03-16 19:56] #482 closed

[2019-03-17 01:27] jthegedus commented on #456
@juliofortunato Thanks for the work here, I will have the time available to investigate this tomorrow and will have some suggestions then!

[2019-03-18 11:23] idabmat commented on #470
GitHub magic comment failed to autoclose this issue after https://github.com/asdf-vm/asdf/pull/484 landed. The mentionned PR fixed this issue for me.

For those facing this issue, you can do `asdf update --head` to get the fix while waiting for `0.7.1` to be released.

[2019-03-18 13:25] Stratus3D commented on #456
To link these two together, @juliofortunato created and then closed https://github.com/asdf-vm/asdf/pull/486 for this.

One thing I noticed @juliofortunato is that you used an emoji for the Brazil flag, and the english translation uses the `:uk:`:

[code]

[2019-03-19 13:57] juliofortunato commented on #456
@Stratus3D I opened that PR by mistake, my bad :sweat:

Regarding the emoji, I was not able to make the Brazilian flag to be rendered in any way. Neither`:br:`, `:brazil:` `:flag-br:` nor `:flag_br:` works.

[2019-03-19 14:09] Stratus3D commented on #456
Yes you are right, I see a `:uk:` flag and a few others, but it apparently doesn't support a complete list of countries - https://jhildenbiddle.github.io/docsify-themeable/#/markdown?id=emoji

[2019-03-19 16:28] juliofortunato commented on #456
I'm not sure what could be the best approach for this case :thinking:

[2019-03-19 16:34] Stratus3D commented on #456
I'm not sure either. Did the emoji work for you or did it cause a problem? I would assume Docsify supports UTF8 and emojis, but I haven't checked.

[2019-03-19 16:39] juliofortunato commented on #456
Yeah, it did work but it seems slightly smaller than the UK flag (check on the screenshot below). So maybe we could replace the UK flag (and all the future flags) for this version, in order to keep their appearance consistent.

![Screenshot from 2019-03-19 13-37-22](https://user-images.githubusercontent.com/4470902/54624587-71479f80-4a4c-11e9-8672-23e628c22fd3.png)

[2019-03-19 17:00] mdesantis commented on #452
It works, thank you! :heart:

[2019-03-19 22:06] #470 closed

[2019-03-20 02:29] vanjabucic commented on #475
+1 for reverting to exec
Currently, something like "elixir -S mix run --no-halt" is 4 levels deep in the process tree (shim calling shim etc).
[code]
There is also the expectation that the pid of the command just run is the pid of the actual process and not a shim...

[2019-03-20 17:42] danhper commented on #475
@Stratus3D I agree that we should revert to using `exec`.
@asdf-vm/core What should we do with the hooks. pre-hook should be easy enough but I am not sure there is a reliable to do a post-hook while using exec.

[2019-03-20 19:03] #378 closed

[2019-03-20 20:41] Stratus3D commented on #475
@danhper I think we can keep our pre-hook code pretty much the way it is. Everything before the `exec` should still work fine. Once we invoke `exec` we lose control, so I don't think we can post-hooks without having a second process "in control" of the actual process. But 0.7.0 was the first release that included these hooks, so I doubt many people are using them. And in my mind pre-hooks are the

[2019-03-20 21:52] danhper commented on #475
@Stratus3D Yes, I agree.
@vic What do you think?

[2019-03-21 13:38] juliofortunato commented on #456
Also, any idea on how to fix the always-appearing 404 page on the translated version?

[2019-03-21 15:15] adamu opened #488 ""No version is set" when version is set and returned by `asdf current`."
### Steps to reproduce

I'm setting up a dockerfile based on alpine linux for an elixir build environment.
Here is an example session:

[code]

### Expected behavior
`asdf which elixir` should return version 1.8 and `elixir` should execute the binary.

### Actual behavior

[code]

### Environment

**OS**: Alpine Linux in a docker container

**asdf version**: 0.7.0

Here is the WIP Dockerfile:

[co

[2019-03-21 18:06] hez commented on #488
I am getting this in a lot of languages after updating to the latest ver.

[2019-03-21 22:20] danhper commented on #488
Could you give it a try on master and let us know how that goes please?

[2019-03-22 03:52] axelson opened #489 "Comments in .tool-versions file"
### Steps to reproduce

With a `.tool-versions` like this:
[code]

### Expected behavior

The specified elixir and erlang versions should be installed and lines beginning with `#` should be ignored.

### Actual behavior

Running `asdf install` fails
[code]

But `asdf current` works:
[code]

### Environment

**OS**: 10.13.6

**asdf version**: `v0.7.0`

[2019-03-22 05:12] jthegedus commented on #456
That emoji size issue is because of the `docsify-emoji` plugin. The HTML around the emoji is different depending on whether it is an inlined emoji (as with the br flag vs the uk flag).

Docsify's own site just delegates the different translations to their own repos, so not useful to study in our use unfortunately.

[2019-03-22 06:21] jthegedus commented on #456
Alrighty, after some digging I have a few pieces of information.

1. the homepage.md file is built by using the Docsify embed feature to combine two `.md` files. Problem is, that feature is quote specific so is currently not showing anything. I will fix this in a new PR https://github.com/asdf-vm/asdf/pull/490.

2. `homepage: "homepage.md"` Docsify implementation seems to be buggy.
By default this

[2019-03-22 08:08] adamu commented on #488
Same results on master:

[code]

[2019-03-22 08:13] adamu commented on #488
I downgraded to 0.6.3, and it's working there:

[code]

[2019-03-22 11:27] danhper commented on #488
Thanks for trying out. I will take a closer look.

[2019-03-22 11:30] tkossak commented on #449
Issue fixed in https://github.com/asdf-vm/asdf/pull/455

[2019-03-22 11:30] #449 closed

[2019-03-23 15:44] #477 closed

[2019-03-23 21:35] #488 closed

[2019-03-23 21:38] danhper commented on #488
@adamu Thanks a lot for the report and the Dockerfile.
This should now be fixed. Could you give it another try and let me know how it goes please?
Thank you.

@hez Could you please check if your issue is fixed on the master branch please? If it is not, could you please open another issue with a little more information about your environment. Thank you.

[2019-03-23 21:49] danhper commented on #489
I think this is a good idea.
If someone would like to tackle this one, it would be great.

[2019-03-23 22:39] adamu commented on #488
Works on master for me.

[code]

[2019-03-23 23:21] danhper commented on #488
Yes, we'll release a new version very soon!

[2019-03-24 13:04] danhper commented on #475
@asdf-vm/core I suggest we revert to `exec` and release v0.7.1, what do you think?

[2019-03-24 13:28] danhper commented on #282
I will close this issue, as it has been inactive for a long time now.
If there is still interest, please feel free to open a new issue.
Thank you!

[2019-03-24 13:28] #282 closed

[2019-03-24 13:36] danhper commented on #286
I think we are now mostly testing for this. Let's open a new issue if at some point we think it is not enough.

[2019-03-24 13:39] danhper commented on #158
I will close this issue, as it has been inactive for a long time now.
If there is still interest, please feel free to open a new issue.
Thank you!

[2019-03-24 13:39] #158 closed

[2019-03-24 13:39] danhper commented on #159
I will close this issue, as it has been inactive for a long time now.
If there is still interest, please feel free to open a new issue.
Thank you!

[2019-03-24 13:39] #159 closed

[2019-03-24 13:42] danhper commented on #210
I will close this issue, as it has been inactive for a long time now.
If there is still interest, please feel free to open a new issue.
Thank you!

[2019-03-24 13:42] #210 closed

[2019-03-24 13:43] danhper commented on #211
I will close this issue, as it has been inactive for a long time now.
If there is still interest, please feel free to open a new issue.
Thank you!

[2019-03-24 13:43] #211 closed

[2019-03-24 13:44] danhper commented on #230
I will close this issue, as it has been inactive for a long time now.
If there is still interest, please feel free to open a new issue.
Thank you!

[2019-03-24 13:44] #230 closed

[2019-03-24 13:45] danhper commented on #232
I will close this issue, as it has been inactive for a long time now.
If there is still interest, please feel free to open a new issue.
Thank you!

[2019-03-24 13:45] #232 closed

[2019-03-24 13:47] danhper commented on #281
I will close this issue, as it has been inactive for a long time now.
If there is still interest, please feel free to open a new issue.
Thank you!

[2019-03-24 13:47] #281 closed

[2019-03-24 13:49] danhper commented on #349
Fixed

[2019-03-24 13:49] #349 closed

[2019-03-24 13:53] danhper commented on #425
Is this still an ongoing issue?
If so, could a brew user be kind enough to send a PR with working instructions, please?
Thank you very much!

[2019-03-24 18:02] dboune commented on #425
@danhper The way the docs are structured focuses on installation via Git. If I were to update the docs for this purpose, I'd be inclined to also add tabs to the **Install asdf-vm** section with Homebrew specific installation instructions, so that the instructions in **Add to your Shell** have a bit more context available.

Installing via Git would naturally not require Homebrew specific instructio

[2019-03-24 19:26] #469 closed

[2019-03-24 19:35] danhper commented on #425
@dboune I agree with this. I suppose installing via Homebrew is a common choice for macOS user so having a dedicated section is, I think, a good idea.
However, it seems that docsify does not support nested tabs so I am not sure what is the best way to present this cleanly.

[2019-03-24 19:41] dboune commented on #425
@danhper - I had the same thought, and indeed, no nested tabs :(

The only thing I can think of to keep the structure and not start branching pages is to either refer to the previous section, or make the assumption that the user will pick the appropriate tab as they go along.

There is a realistic chance that someone could come along wanting macOS + Homebrew + ZSH or FISH for example, and be willi

[2019-03-24 20:40] jthegedus commented on #425
In Docsify, the first tab is the default selection, so in the `Install asdf-vm` section we could have two tabs, `Git | Homebrew`. I have been thinking of better ways to do this all than tabs, but requires a lot more work.

[2019-03-24 20:47] dboune commented on #425
I’ll be happy to go ahead and submit a PR just with simple tabs for the Install and Shell sections that includes the Homebrew instructions making the general assumption that folks will figure out which tabs are applicable to them.

If that’s worth the effort, let me know and I’ll get it done.

[2019-03-24 20:55] jthegedus commented on #425
@dboune I think most people will be able to figure it out.

The ideal solution I ultimately want is to get select boxes for OS, Shell and Install Method, but that will require a lot more work with Docsify or an alternate tool.

[2019-03-24 22:12] #425 closed

[2019-03-24 22:22] jthegedus commented on #425
I'm in favour of fast iterations over perfection the first time. Feel free to ping me in subsequent PRs if there are immediate issues with this 😄

[2019-03-25 13:27] Stratus3D commented on #286
I do not believe the code in https://github.com/asdf-vm/asdf/blob/master/asdf.sh is tested in any of our unit tests. We need to write unit tests for the code in `asdf.sh` and `asdf.fish`. Specifically, we need to test:

* `PATH` is set properly
* Any other environment variables are set properly
* Functions like `asdf` are working as expected (e.g. providing the commands we've defined)

I think thi

[2019-03-25 14:32] HerbCSO opened #499 "Support for `alias` command?"
### Steps to reproduce

I've just started the process of switching to `asdf` from `rbenv`/`jenv`/`rustup` and co. - mostly because shell startup times with loading all these version managers was getting kinda ridiculously slow and `asdf` is nice and fast - yay! The information on how to enable legacy version files (setting `legacy_version_file = yes` in `~/.asdfrc` was very helpful, and I was glad

[2019-03-25 15:55] Stratus3D commented on #499
I think this is related to #352, though it's not an exact duplicate.

[2019-03-25 18:07] dazuma commented on #475
I would also suggest reverting to use `exec`. I've been having similar issues: I need to send signals to a process started via an asdf shim, and it does not work using asdf 0.7.0.

[2019-03-25 20:06] Stratus3D commented on #475
I think we should make the changes needed to revert to `exec` as soon as possible.

[2019-03-26 12:40] HerbCSO commented on #499
Thanks so much for the quick response!

Yes, #352 does look very much like it, and after reading the very considered discussion there I very much agree with the points made and I'm happy to close this issue in favor of #352. Sorry, I only searched specifically for `alias` before I submitted this and didn't find that issue as a result.

PS: Thanks also for including the reference in the core setup

[2019-03-26 12:40] #499 closed

[2019-03-26 17:40] heydonovan commented on #428
Just installed `asdf`, and I'm running into this issue as well:

[code]

[code]

[code]

[2019-03-26 17:56] danhper commented on #428
@heydonovan Could you show us the line you added to `.bash_profile` (or other init file) please?

[2019-03-26 21:03] dbodow commented on #410
@Stratus3D Facing the https://github.com/asdf-vm/asdf-erlang/issues/57 issue too, but wanted to point out that there's maybe an `asdf` issue here in addition to the `asdf-erlang` issue. I would expect that asdf plugins shouldn't be able to interrupt other plugins' installation processes, or if they are allowed to, then `asdf` should print a failure/interrupt message before aborting subsequent inst

[2019-03-27 13:20] #489 closed

[2019-03-28 22:13] heydonovan commented on #428
Sure! Here is what I have. I think I ran into similar issues with `asdf` back in the day as well. It's almost as if it assumes a `git clone` was ran, and the appropriate config files were created. Where as installing it using `brew install asdf` just never seems to work for me.

[code]

[code]

[code]

[2019-03-29 15:54] mlwilkerson opened #503 "plugin version not resolved with ruby pg gem"
### Steps to reproduce

1. set up `.tool-versions` with:

[code]

2. `asdf install` (successful)

3. `gem install bundler` (successful)

4. `gem install pg`

### Expected behavior

The pg gem should be able to build its native extensions as part of installation.

Its build process relies on `pg_config`, which is shimmed via the `postgres` plugin.

### Actual behavior

[code]

### Environment

**OS

[2019-03-31 16:06] heydonovan commented on #478
Can you help me recreate the issue? I'm not familiar with erlang:

[code]

[2019-03-31 19:15] #475 closed

[2019-04-01 00:13] nixpulvis commented on #34
Here's a nice little `fish` script that'll do it.

[code]

[2019-04-01 14:43] pmk1c opened #505 "Shims are always used when command is run from another asdf environment"
### Steps to reproduce

Install plugin `asdf-ruby` and install any Ruby version.
Install plugin `asdf-nodejs` and install any npm version.
Run `npm install which` to install weirdly named `which` npm package
Run `irb` and type `` `which sh` ``

### Expected behavior

It should run `which sh` on the host which returns the path to the `sh` binary.

### Actual behavior

It runs `asdf exec which sh` a

[2019-04-02 20:08] dc0d commented on #478
Thanks for the reply!

Maybe I am missing something. But this behavior is consistent on my machine. I will try to play around with things and provide updates if found something new.

[2019-04-02 21:11] danhper commented on #478
Hi! Did you try with the latest version, 0.7.1?

[2019-04-06 17:45] Stratus3D commented on #286
I still need to write tests for fish.

[2019-04-06 18:20] #286 closed

[2019-04-06 18:23] Stratus3D commented on #475
@craigp I just verified that @danhper PR fixed this issue for me.

[2019-04-06 18:51] jpinnix commented on #488
Just a note that I also had this issue, tested against master and now it works.

[2019-04-06 18:59] hez commented on #488
👍looks to be resolved in the latest ver

[2019-04-07 01:40] danhper commented on #488
Thanks for your help! 0.7.1 should work how you expect!

[2019-04-07 21:12] craigp commented on #475
Thanks all, great work

[2019-04-09 09:09] quiqua opened #509 "plugin-test can't be run with asdf installed via brew"
### Steps to reproduce

- Install via homebrew on mac os x: `brew install asdf`
- Add `source /usr/local/opt/asdf/asdf.sh` to `.zshrc` file
- Clone https://github.com/skotchpine/asdf-java
- Run `asdf plugin-test java . 'java -version'

### Expected behavior

The command runs without errors

### Actual behavior

When installing via homebrew on mac os x: `brew install asdf` and adding `source /usr/l

[2019-04-09 19:39] stefansedich commented on #240
+1 as a recent asdf user this is also something I did not expect to run into, definately makes it a little more kludgy to use, I wonder if it could all be bundled into the .tool-versions file by providing a way to define the git url, for example:

[code]

[2019-04-11 01:48] Stratus3D opened #511 "Clean up dependencies in documentation"
I think we should probably be going the other direction here. We should not be listing packages as dependencies of asdf if they are not truly packages it depends on. `curl` and `unzip` are currently not required. But neither is `unixodbc` I don't think. I think the asdf docs should only list actual dependencies for asdf core. For many of us it doesn't matter, but if someone is using asdf on a low

[2019-04-11 02:26] jthegedus commented on #511
I do agree we should have minimal deps listed for asdf as the core tool.

That said, I do find it difficult myself following the instructions of some plugins as most just defer to the underlying tool's documentation. It is this part of the process that I wish to improve. Ideally, each plugin would have a single code block with a copy button, as we do for the core tools.

As an example, I recently

[2019-04-11 13:17] danhper opened #512 "Make dependencies installation more straightforward"
As discussed a little in #511, it is not always easy to get all the dependencies right for a plugin.

Although I have been using asdf and asdf-python for a while, I often forget to install tk or sqlite dev libraries before compiling Python and find myself having to recompile it later on.

I think this process could be improved, although I am not really sure how yet.
I agree with @Stratus3D that de

[2019-04-11 13:19] danhper commented on #511
I agree with both of you. In my opinion:

1. We should clean up asdf-core dependencies to keep them to a bare minimum.
2. We could improve how dependencies are handled, or at least documented

Let's keep this issue open for the first point. I just opened a new one for the second, so we can discuss ideas there #512.

[2019-04-12 17:26] knutsenm opened #513 "`asdf list` shows blank lines instead of version numbers"
### Steps to reproduce

[code]

### Expected behavior

[code]

I can get the expected behavior by removing the trailing slash from the `ls` command in `list_installed_versions()`:

[code]

...but I don't understand why that should matter; `basename` is supposed to ignore trailing slashes in pathnames, and whatever I try manually works as expected.

### Actual behavior

See above in "Steps to repro

[2019-04-12 21:52] jsatk commented on #428
I'm in the same boat as @heydonovan.

[2019-04-13 10:40] dc0d commented on #478
Sorry for the late response.

Yes I have tried 0.7.1 and it did not work.

What did work was uninstalling all Erlang and Elixir via asdf and reinstall them.

Because I can not reproduce this, I close it.

[2019-04-13 10:40] #478 closed

[2019-04-15 14:31] bowmanmike commented on #488
Hey, I'm still having this same issue with asdf version `0.7.1` and ruby. I've got my `.ruby-version` file in the directory, and my `~/.asdfrc` has `legacy_version_file = yes`. I'm on a Mac running High Sierra, and the required Ruby version is installed.

![image](https://user-images.githubusercontent.com/15827207/56140763-88a17c00-5f69-11e9-8bad-4e012464f549.png)

[2019-04-15 14:39] Stratus3D commented on #488
@bowmanmike it looks like you've specified Ruby version `2.3.4` but don't have that version installed (see the list in your screenshot that printed with you ran `ruby --version`). Installing that version of Ruby should fix the issue. Feel free to create another issue to improve the error message here. The version is set, but that version is not installed. The message could definitely be improved.

[2019-04-15 15:02] bowmanmike commented on #488
@Stratus3D I do have `2.3.4` installed, as shown here:
![image](https://user-images.githubusercontent.com/15827207/56143084-e33cd700-5f6d-11e9-8af6-7ace03da604c.png)

[2019-04-15 15:07] Stratus3D commented on #488
Maybe try `asdf reshim`? If that version is installed and you've set that version in your directory it should work. If this issue manifests in multiple directories or across multiple plugins (e.g. elixir, python, etc...) please open a new issue.

[2019-04-15 15:08] bowmanmike commented on #488
That seemed to work! Thanks!

[2019-04-17 09:01] dnicolson opened #515 "rm: .tool-versions.bak: No such file or directory"
### Steps to reproduce

1. Open new terminal window in iTerm2
2. Restart macOS

### Expected behavior

The terminal window to open after login with no error messages.

### Actual behavior

The following messages appear:

[code]

Sometimes it does not appear, most commonly it appears only once and not twice.

### Environment

**OS**: macOS 10.14.4 (18E226)

**asdf version**: 0.7.1

iTerm2 3.2.7
fis

[2019-04-17 13:11] Stratus3D commented on #515
I'm on the same version of OSX, and I've got a similar setup, but I've not come across that issue. What happens if you run those `asdf global` commands manually in your fish shell? Does the error occur then? This is odd because that backup file should always exist before the `rm` command is run.

[2019-04-17 13:20] dnicolson commented on #515
Running those commands in a shell results in no error.

The error only occurs when iTerm is restoring a session.

[2019-04-17 13:49] danhper commented on #515
This is quite weird, I suppose we could add `-f` to `rm` but this should not be happening in the first place.

Also, why you have `adsf global` in `config.fish`? `asdf global` should only be run once, not every time you open a new shell. Although it should in principle not create any error, it will slow down your shell startup for no good reason.

[2019-04-17 13:53] Stratus3D commented on #515
Yes, if our code is being executed as it should `rm` should always come after the `sed` command that creates the file. So this should never happen. But some how with iTerm session restoration it is.

Echo what @danhper said, if you want to get things working just don't use `asdf global` in your `config.fish`. Once you've got a `.tool-versions` file in your home directory with the versions you want

[2019-04-17 14:26] dnicolson commented on #515
It is due to a race condition, the following can trigger the error in a `bash` shell:

[code]

[2019-04-17 16:04] Stratus3D commented on #515
Yes, that would definitely cause problems. And it may not be just asdf, it may be caused by `sed` as well. I suppose we could devise some sort of locking mechanism to fix this. But in practice this is something that should never be done. There is no reason to run concurrent version changes on the same file. Just make sure they are run sequentially.

[2019-04-17 17:39] danhper commented on #515
Ok, so I suppose the issue with iTerm restoring the session is that it runs multiple shells (one per tab I suppose) and there is therefore a race condition.
This is really an edge case, which I think is better fixed on the user side.
In your case, I suggest you simply remove `asdf global` from `config.fish`.

[2019-04-18 14:31] #515 closed

[2019-04-26 08:00] cdfa opened #516 "Plugins not reading legacy files"
Plugins don't seem to read their legacy version file. Tested with nodejs and ruby.

### Steps to reproduce

* Follow the asdf installation instructions for fish.
* `echo "legacy_version_file = yes" > ~/.asdfrc`
* `echo "8.12.0" > .nvmrc`

### Expected behavior

[code]

### Actual behavior

[code]

### Environment

**OS**: 4.19.34-1-MANJARO GNU/Linux

**asdf version**: 59a9c032676c8d7b2f1bb7d13a2df

[2019-04-26 13:19] danhper commented on #516
I did not manage to reproduce the issue.
I know it was broken in asdf 0.7.0 but it should be fixed at the commit you are showing.
Does `asdf --version` indeed returns `0.7.1`

[2019-04-29 18:42] cdfa commented on #516
I noticed the logs of the earlier issue, but I really am on `0.7.1`. I think it's quite possible something else from my setup is interfering. Do you have any suggestions for debugging `asdf` on my machine?

[2019-04-30 02:06] eksperimental commented on #488
still having this issue with v0.7.1 even after `asdf reshim`

I'm getting

[code]

and my .tool-versions is

[code]

[2019-04-30 03:17] danhper commented on #488
@eksperimental Could you open another issue please? I suppose there has been a regression for how we handle `path: ` versions.

[2019-04-30 03:19] danhper commented on #516
Could you please try to run `asdf reshim` to see if that helps?
If it does not help, could you send the content of  `~/.asdf/shims/node` and the result of `asdf list nodejs` please?
Thanks, and sorry for the trouble.

[2019-04-30 03:28] eksperimental opened #517 "No version set for command ... - still happening in v0.7.1"
Still having the "no version set" issue (originally reported in https://github.com/asdf-vm/asdf/issues/488) with v0.7.1 even after run `asdf reshim`

### Steps to reproduce

my .tool-versions is

[code]

[code]

### Expected behavior

to run `/home/eksperimental/elixir/bin/iex`

### Actual behavior

[code]

### Environment

**OS**: Ubuntu GNU/Linux 16.04 32 bits

**asdf version**: v0.7.1

[2019-04-30 20:24] cdfa commented on #516
Sadly, `asdf reshim` didn't help.
`~/.asdf/shims/node`:
[code]
[code]

I did discover something else interesting. After `echo "10.15.3" > ~/.nvmrc`, running `node -v` just gives `v10.15.3`, so `asdf` does pick up on the legacy version file if it's in my home directory.
Also, running `asdf current` in my project folder does show `8.12.0`.
Somehow, `asdf` does pick up on the file in a project direct

[2019-05-01 00:43] danhper commented on #516
For some reason asdf does not seem to detect the node executable for node 8.12.
Could you check that `node` is indeed present in `~/. asdf/installs/nodejs/bin` please?
If it is not, there might have been an issue when installing node 8.12 so uninstalling and reinstalling should help.
Thanks for your help debugging this.

[2019-05-01 08:14] cdfa commented on #516
Yes, `node` is present in that directory, but this made me think: should `asdf install nodejs 8.12.0` be in the "step to reproduce" for this issue. What actually is the expected behaviour when it's not installed?
I also tried putting `8.12.0` in `~/.nvmrc` and then `node -v` does say `v8.12.0`.

[2019-05-01 18:34] danhper commented on #516
Hmm, given the content of `~/.asdf/shims/node`, I think that it should not work at all with `v8.12.0` no matter the where the `~/.nvmrc` file is placed.
Is there any chance you could try to reproduce this inside Docker, or anything which would be easy to replicate please? It would simplify the debugging process a lot.
Thanks again.

[2019-05-01 19:43] AaronLasseigne commented on #428
I had the same issue and was able to fix it by sourcing the homebrew install location. I add this to my `config.fish`.

[code]

Other shells should be able to use a similar solution.

[2019-05-01 20:44] cdfa commented on #516
Hmm, I don't have much experience with Docker and I don't really know what to include in the image, because it does work on your machine. Because of this, it might also get very big.

One small correction (but I don't think it makes a difference): `~/. asdf/installs/nodejs/bin` does not exist for two reasons:
1. There's a space in the path
2. I think you meant `~/. asdf/installs/nodejs/<node-versi

[2019-05-01 21:07] henrik commented on #14
I got the error

trying to run `bundle` after upgrading Ruby via asdf. The error message was confusing, suggesting versions earlier than the one I had installed (2.5.5):

[code]

What fixed it for me was simply to `gem install bundle`.

[2019-05-02 15:26] JackHowa commented on #418
I ran into a similar error, using: ```
. $HOME/.asdf/asdf.sh
. $HOME/.asdf/completions/asdf.bash```

It seems to be working with homebrew using: ```
. $(brew --prefix asdf)/asdf.sh
[code]

[2019-05-03 02:09] jsatk commented on #428
@AaronLasseigne great follow up.

I forgot that I posted in here and have since found a solution. The above snippet posted by @AaronLasseigne doesn't quite work for my. My `asdf` isn't living directly in the `(brew --prefix)` directory.

Here's what I have in my `config.fish`.

[code]

[2019-05-08 18:04] Rovel opened #519 "problems installing awscli on OSX"
### Steps to reproduce

1. install latest python 3.7
2. `pip3 install awscli --upgrade --user`
3. try to find the correct bin path to export on profile

### Expected behavior

You should be able to run awscli commands, like `aws configure`

### Actual behavior

aws not found

### Environment

**OS**: OSX 14.4 Mojave

**asdf version**: latest

[2019-05-08 18:45] Stratus3D commented on #519
This issue is specific to asdf-python. Please open an issue there - https://github.com/danhper/asdf-python

[2019-05-08 18:45] #519 closed

[2019-05-08 20:01] Rovel commented on #519
Hi,

Found the correct path:

`export PATH=/Users/$USER/.local/bin:$PATH`

Hope this helps someone in the future

[2019-05-09 08:32] metakirby5 commented on #290
As a workaround, I was able to incorporate asdf into my prompt with no noticeable performance impact by implementing the lookup myself in bash.

[code]

An example of what `"$asdf_info"` looks like at the end is: `ruby 2.6.3/python system`

[2019-05-12 21:02] Stratus3D commented on #517
I tested on my machine and got the same behavior. Tests are passing, so it seems like we are either not testing this feature at all, or we are testing it incorrectly and getting false positives.

[2019-05-12 22:19] danhper commented on #519
I suspect that you simply forgot to run `asdf reshim python`
asdf should not install anything in `~/.local/bin` so the executable there might have been installed through another method.

[2019-05-12 22:26] danhper commented on #290
@metakirby5 This is mostly how it was implemented a while ago, but as asdf started handling other things, the logic got more complex, making things slower.
For example, we need to check for "legacy version files", such as `.python-version` or so if present. We also support setting the version using environment variables.
Making asdf faster is definitely important for this project, so any help to m

[2019-05-13 21:03] nextl00p commented on #517
[code]

Very strange. I am installing various Erlang versions on the same machine. So far only Erlang 21.0 is failing. I am on Ubuntu. Tried to reproduce on macOS by installing Erlang 21.0 as well, but there it's working fine.

[2019-05-13 22:20] Stratus3D commented on #517
@nextl00p the reason you are getting that message is because your `.tool-versions` file specifies a version (`21.0`) that is not installed (You've got `21.0-rc1` installed, but that's not the same version). The behavior is correct, but the error message you are seeing is not helpful. It should say ```
No installed version set for command erl
You may want to install version 21.0, or you may want to

[2019-05-14 07:45] nextl00p commented on #517
@Stratus3D why is 21.0 listed in `asdf list erlang`?

[2019-05-15 03:24] stevenocchipinti commented on #290
Just a random thought, if that legacy logic is where the bottleneck is, would it be worth disabling that behaviour by default and legacy users can enable `legacy_mode` via an env variable or something?

[2019-05-15 06:53] starwing opened #522 "Run command without arguments gives error"
### Steps to reproduce

Install rust:
[code]

Run rust without arguments:
[code]

### Expected behavior

print out help messages of `rustc`.

### Actual behavior

[code]

### Environment

**OS**: macOS 10.14.4

**asdf version**: v0.7.1, install from git.

P.S. `lua` installed from `asdf` works well without arguments.

[2019-05-16 20:45] rob-brown commented on #517
I updated from v0.5.1 to v0.7.1 today on macOS. Now I'm seeing this issue:

[code]

I had a similar issue today with a Linux computer. I fixed it by uninstalling all the versions and reinstalling them. I did that on macOS. Unfortunately, it's no longer able to install Erlang.

[code]

Here's the log:

[otp_build_21.2.3.log](https://github.com/asdf-vm/asdf/files/3188979/otp_build_21.2.3.log)

[2019-05-16 21:25] rob-brown commented on #517
I downgraded to v0.5.1. I'm still unable to install Erlang. I also tried this to fix the OpenSSL issues:

[code]

That's worked in the past but I still get the same results. This bug is so bad I'm forced to remove `asdf` for now.

[2019-05-17 15:28] danhper opened #523 "Alias support"
I'm definitely aware of the correspondence between simple/easy, my point was that as a user, those qualities mean different things than they do as a maintainer. Specifically, with my user hat on the "ease" in which I can avoid using multiple tools to do one thing (version management), and the "simplicity" of something that doesn't use any magic, just simple OS primtives, are the reasons why I chos

[2019-05-17 15:37] danhper commented on #523
_Originally posted by @bitwalker in https://github.com/asdf-vm/asdf-elixir/pull/63#issuecomment-493470419_

I'm definitely aware of the correspondence between simple/easy, my point was that as a user, those qualities mean different things than they do as a maintainer. Specifically, with my user hat on the "ease" in which I can avoid using multiple tools to do one thing (version management), and th

[2019-05-17 15:47] Stratus3D commented on #522
@starwing so is this only an issue with Rust or the Rust plugin?

[2019-05-17 16:31] paulswartz commented on #517
It looks like an issue with how the shims handle versions which are a prefix of another installed version. I should have a patch shortly.

[2019-05-17 16:33] eksperimental commented on #517
I managed to make it work with v0.6.3

[2019-05-17 16:37] bitwalker commented on #523
Specifically, my suggestion was that the `--alias` flag would be for `asdf install <lang> <path|ref>:<value> [--alias=<name>]`. For other forms of `asdf install <lang> <version>`, `--alias` would produce a warning/error (my opinion is that it would make sense to not support aliasing non path/ref versions). After `install` the alias can be used with other commands which expect a version.

The alias

[2019-05-17 17:18] danhper commented on #523
@bitwalker Thanks for the detailed explanation.
I think this would be a reasonable addition.  Not polluting `~/.asdf/installs/PLUGIN/` is I think desirable, so I like this approach.
If we were to implement this, I suppose the required changes would be

1. alias metadata file reading/writing
2. resolving alias when asdf is passed a version
3. updating install to handle `--alias`
4. updating uninsta

[2019-05-17 17:35] bitwalker commented on #523
RE: 4, my intuition around `asdf uninstall <lang> [path:<path>|<alias_for_path>]` is that it simply unlinks the symlink created by "install" (rather than deletion, as you obviously don't want that), and in the case of an alias, would also remove the alias. It doesn't make much sense to leave the alias behind, nor does it make sense to just remove the alias.

I like the idea of having porcelain com

[2019-05-17 17:44] Stratus3D commented on #523
I'm still not convinced this needs to be part of asdf. I could create a 20 line shell script that does everything you described (and it would work for anything, not just asdf), and it would be simpler than making these changes to asdf itself to support this. Why add complexity? Just create (or use an existing tool) that does this.

My two main objections here are:
* Added complexity. This new feat

[2019-05-17 17:45] Stratus3D commented on #523
Related: https://github.com/asdf-vm/asdf/issues/499

[2019-05-17 17:51] Stratus3D commented on #523
https://github.com/ytbryan/aka

[2019-05-17 18:44] bitwalker commented on #523
@Stratus3D I'm willing to work on `asdf` and in particular be responsible for this feature. I'm certainly familiar with the burden of maintaining open source projects. If that's the major obstacle here, I'm certainly willing to put my money where my mouth is.

I'm not denying that I could write this feature for myself in shell, but that's fundamentally true of basically the entirety of what I use

[2019-05-18 00:24] danhper commented on #523
@bitwalker Thanks a lot for offering to help.

I am starting to think this might be a good opportunity to give  "non-language plugins" a try. https://github.com/asdf-vm/asdf/issues/367

I understand this feature can be useful but I think the number of people needing it is probably fairly low (I don't have data to support this so I might be wrong).
This is why this would be perfect as a plugin but

[2019-05-18 00:25] #517 closed

[2019-05-18 00:29] danhper commented on #290
We already have a setting for this in asdf configuration file: https://asdf-vm.com/#/core-configuration?id=homeasdfrc

I am currently doing a small experiment on my side with the lookup logic implemented in Go.
It supports most of the features of asdf, including legacy_mode and is vastly faster than what we have now.
https://github.com/danhper/asdf-exec

[2019-05-18 00:29] bitwalker commented on #523
I think it definitely makes sense being a plugin if the necessary hooks are there, I'll have to read up on whats planned there.

[2019-05-18 00:32] danhper commented on #523
I don't think we have given much thought into what hooks would be necessary for the plugins yet, so I think this could be a good opportunity to do so.

[2019-05-18 00:43] bitwalker commented on #523
I'll chime in over in that thread once I've thought about it for a bit, I have some initial thoughts, but want to check out some assumptions first.

[2019-05-18 01:10] Stratus3D commented on #513
Thanks for the detailed report @knutsenm. I find it interesting that shellcheck explicitly warns against iterating on the output of `ls` and that check is disabled here (https://github.com/koalaman/shellcheck/wiki/SC2045). It's also interesting that we are using the `-d` flag and also have a trailing slash. We shouldn't need both.

[2019-05-18 01:18] Stratus3D commented on #513
Can you give this a try when you get a chance? https://github.com/asdf-vm/asdf/pull/525

[2019-05-18 01:29] Stratus3D commented on #513
I've gone ahead and merged my PR. To test out the changes I just merged to master run `asdf update --head`.

[2019-05-18 11:45] jordan-brough commented on #290
@danhper that's fantastic. 👍 Please keep going with that. Speed-ups for me:
#### Normal asdf
[code]

#### With asdf-exec
[code]

#### Direct path to binary
[code]

[2019-05-19 07:39] Aethelflaed commented on #244
I had to reinstall erlang after installing a few dependencies to compile it again and I can say that at least asdf-erlang wouldn't work this way, as it keeps its own record of which version is installed, so moving the install directory doesn't work.

(Tried on Archlinux).

I saw there are some plugin-test, maybe it would be interesting to add some tests for this feature before shipping it, so thos

[2019-05-22 00:07] bitwalker commented on #367
I've been putting together a PR that adds support for intrusive plugins, in two main ways:

- Allow plugins to intercept the command and arguments that asdf was invoked with, and do post-processing/redirection on them before any command is dispatched
- Allow plugins to provide porcelain commands that are dispatched when asdf doesn't recognize a command name.

So given my proposal about aliases, a

[2019-05-23 09:24] gaelant commented on #14
Also for people who recently upgraded Ruby, don't forget to run `bundle install` after @henrik 's suggestion.

[2019-05-25 14:31] rhiroyuki opened #526 "Show progress bar when downloading"
Is it possible to have a progress bar when downloading through asdf?

Some Python versions like Anaconda have like 500mb and can be troublesome to download on unstable network. It would be good to know if asdf is still downloading the file or if it is hanging.

Posting here because it could be applied to all plugins.
What do you guys think?

[2019-05-26 00:29] danhper commented on #526
Unfortunately this is not possible because asdf has no idea what the plugins are doing.
At best, we could provide this functionality to use for the plugins and let plugin maintainers decide if they want to use it or not.
For Python unfortunately is would still be impossible because the install is performed by [python-build](https://github.com/pyenv/pyenv/tree/master/plugins/python-build) and asdf-

[2019-05-27 20:47] alecmev opened #527 "Arch Linux"
[I've packaged asdf for Arch Linux](https://aur.archlinux.org/packages/asdf-vm), looking for feedback.

If you're okay with the existence of this (I assume you are, judging by the presence of Brew) and everything looks fine, maybe it would make sense to mention this package in the docs and have Arch-specific "Add to your Shell" instructions.

I'm also happy to hand over the control of the package

[2019-05-27 21:04] danhper commented on #527
Hi, thanks for the package!
I personally would not mind as long as we can integrate it either to our deployment script or preferably the CI.
@asdf-vm/core What do you think?

[2019-05-28 16:55] Stratus3D opened #528 "`asdf current` output is not correct for tools that are not installed"
### Steps to reproduce
Run `asdf current` in a directory with a `.tool-versions` file containing versions that are not installed. Output will look like this:

[code]

### Expected behavior

For all tools listed, both the name and the version should be displayed on one line just like the installed versions. e.g.

[code]

### Actual behavior

For tools with versions that are not installed, the messa

[2019-05-29 00:03] trnubo opened #529 "Plugin shell completions"
One of the feature in the main readme is "completion scripts managed by the plugin, not you!" however shell completion doesn't work for any of the plugins I'm currently using and I also can't find any related documentation. (shell completion for the `asdf` command its self works fine).

Is this actually implemented if so could you point me in the direction of documentation, source code or an examp

[2019-05-29 16:23] mattysweeps opened #530 "Enhancement: asdf plugin-update --all could be parallel"
Each plugin in `asdf plugin-update --all` could be updated in parallel, making the command much quicker.

Each asdf plugin is a git repository. The same is true for [Plug](https://github.com/junegunn/vim-plug): the vim plugin manager. See [how they update their git repos in parallel](https://raw.githubusercontent.com/junegunn/i/master/vim-plug/40-in-4.gif) which makes for a nice user experience.

[2019-05-29 16:31] Stratus3D commented on #530
This seems like a good idea. Only issue we may run into while doing this is handling the output in a sane way. Right now we just send the Git output to STDOUT, but if we've got multiple updates running concurrently we'd get jumbled output. We'll need to figure out how to keep the output sequential while making the updates concurrent. I think it should be easy enough, just capture the output from e

[2019-05-29 19:09] pikeas opened #531 "Reshim doesn't update asdf path"
### Steps to reproduce

[code]

### Expected behavior

`asdf reshim python` should update the asdf path from 0.7.1 to 0.7.2

### Actual behavior

The shim file was unchanged.

### Environment

**OS**: OS X 10.14

**asdf version**: 0.7.2

[2019-05-30 05:14] 7stud commented on #488
I installed a new version of elixir, then I updated asdf, and now I get the error:

[code]
More info:

[code]

[2019-05-30 05:24] eksperimental commented on #488
@7stud this has been fixed on master in #524
Does it work?

[2019-05-30 20:55] adkron opened #532 "Can not use or install asdf on OS X 10.14.5"
### Steps to reproduce

[code]

restart terminal

### Expected behavior

asdf is an available command

### Actual behavior

asdf is not in the path at all

### Environment

**OS**:
OS X - 10.14.5

**asdf version**:

v0.7.2

[2019-05-30 21:27] adkron commented on #532
I figured it out, and I don't know why it quit working. I have a `.bashrc` and a `.bash_profile`. I changed the profile to `source .bashrc` as the first line.

[2019-06-03 15:29] adkron commented on #532
Came in this morning, nothing changed, and it isn't working again. I don't know what is going on. I tried to run the `.asdf/asdf.sh` file directly and that didn't change anything.

[2019-06-03 15:32] #532 closed

[2019-06-04 18:57] ppdeassis commented on #290
Sorry for the delay, guys.

My findings won't probably add anything new, but...
I have just upgraded `asdf` to `v0.7.2` and now `asdf current` _beats_ "direct shim execution" - but still far from "direct binary execution" by ~200ms (asdf lookup time?):

`asdf current`
----
[code]

"direct shim execution"
----
[code]

"direct binary execution"
----
[code]

[2019-06-05 12:00] jlamberg commented on #428
I am having this same issue with 0.7.2 (macOS 10.14.4 + Bash), too.

The Actual behavior from the OP is what I see no matter which `asdf` command I try to run.

Adding ```source `brew --prefix asdf`/asdf.sh``` to my `.bash_profile` solved the problem.

Anyone else having this same issue with any `asdf` command? If yes, should the title for this issue be changed to something more generic than relat

[2019-06-05 12:11] olafrauch opened #535 "asdf install does not recursively use .tool-versions"
### Steps to reproduce

~/tmp # asdf -v
version: v0.7.2
...

~/tmp # asdf plugin-add consul
Cloning into '/usr/share/asdf/data/plugins/consul'...
remote: Enumerating objects: 1, done.
remote: Counting objects: 100% (1/1), done.
remote: Total 57 (delta 0), reused 0 (delta 0), pack-reused 56
Unpacking objects: 100% (57/57), done.

~/tmp # asdf plugin-add vault
Plugin named vault already added

~/tmp

[2019-06-05 23:58] yofriadi opened #536 "asdf populating my .zshrc"
I don't know how this happen, but today when I open my `.zshrc` it has repeated code like this
[code]
on the bottom of my `.zshrc`

os: Linux
asdf version: v0.7.2

[2019-06-06 02:22] Stratus3D commented on #536
How many times was the code repeated? The install commands listed on the website add these lines. If you run the commands multiple times, the lines will get added multiple times. These two lines should not be duplicated in your `.zshrc` or `.bashrc`, but if they are it shouldn't break asdf.

[2019-06-06 08:24] yofriadi commented on #536
Ah yeah after reading the code that add 2 lines, it obviously these 2 lines will be added everytime I run asdf. So is it necessary to add this 2 line for echoing ?
because this is somewhat nonsense to me

[2019-06-06 12:46] Stratus3D commented on #536
asdf does not add these lines automatically. Only when you run the echo commands in the installation instructions are they added. I would just remove the duplicate lines from your zshrc.

[2019-06-06 14:14] danhper commented on #536
@yofriadi I suspect you maybe copy-pasted the instructions containing the `echo` in your `~/.zshrc` instead of simply running them in your shell. Check if you have them, and if so delete them.

[2019-06-06 14:14] #536 closed

[2019-06-08 09:32] humankindof commented on #425
https://asdf-vm.com/#/core-manage-asdf-vm

To make homebrew's completions available in bash, you must source the definitions as part of your shell startup. They have to be in your PATH.

For me, on a Mac, this simply means running each of these commands
echo -e '\n. $(brew --prefix asdf)/asdf.sh' >> ~/.bash_profile
echo -e '\n. $(brew --prefix asdf)/etc/bash_completion.d/asdf.bash' >> ~/.bash_prof

[2019-06-08 09:33] humankindof commented on #394
To make homebrew's completions available in bash, you must source the definitions as part of your shell startup. They have to be in your PATH.

For me, on a Mac, this simply means running each of these commands
echo -e '\n. $(brew --prefix asdf)/asdf.sh' >> ~/.bash_profile
echo -e '\n. $(brew --prefix asdf)/etc/bash_completion.d/asdf.bash' >> ~/.bash_profile

The second command is unnecessary if y

[2019-06-11 21:40] peleteiro opened #538 "Support read-only containers"
It would be super if "asdf exec" works with read-only file-system on docker containers.

### Steps to reproduce

`$ 	docker run --rm --read-only -t -i "any-asdf-container" asdf exec node`

### Expected behavior

Node to run

### Actual behavior

[code]

### Environment

**OS**: Debian

**asdf version**: 0.7.2

[2019-06-18 00:59] #269 closed

[2019-06-19 16:14] joemsak commented on #488
v0.7.2 on a fresh mojave install here, same problem with ruby, reshim does nothing

the following is a sample of some of the trouble I had in commandline, as I had rebooted in an effort to fix it

[code]

[2019-06-19 17:29] joemsak commented on #488
Heads up, it might be related to downgrading from the Catalina beta - https://twitter.com/infinitebrkfst/status/1141395765731790848 - my only problem on the beta was how piss-poor Finder was performing: constant beachball for normal tasks such as alt-tabbing from another app to Finder, or selecting a file to highlight it, or closing the finder window

[2019-06-20 06:11] kevinkjt2000 opened #540 "Multiple versions of any plugin fail to install with `asdf install`"
### Steps to reproduce

On a brand new install of asdf, I tried to execute `cd ~ && asdf install` with this `~/.tool-versions` file:
[code]

### Expected behavior

[code]

### Actual behavior

[code]

### Environment

**OS**: Arch Linux

**asdf version**: 0.7.2

[2019-06-21 13:50] Stratus3D commented on #540
This does not appear to be an issue with asdf itself. Please open an issue on https://github.com/danhper/asdf-python

[2019-06-21 14:15] Stratus3D commented on #535
I'm not able to reproduce this issue. It's possible that the `vault` installation is exiting with a non-zero exit code and halting the installation. This is by design, since the user may not want to continue if a plugin fails to install. I do not use either of those plugins so I'm not sure how they behave.

[2019-06-21 15:54] kevinkjt2000 commented on #540
Thanks for the prompt feedback!  I have opened an issue there instead: https://github.com/danhper/asdf-python/issues/57

[2019-06-21 18:44] olafrauch commented on #535
I used `vault` and `consul`as a sample.
The same behaviour happens with other tools too.
Just retested it with `terraform` in the sub project.

The sympom is, that only the `.tool-versions` file in the subproject is evaluated and the file in the parent directory is ignored when executing `asdf install`

[2019-06-21 19:26] Stratus3D commented on #535
I think we have tests for this. I need to investigate why they are not catching this.

[2019-06-22 09:23] kvokka commented on #488
I'm using macOS 10.14.5 Mochave (and I did not even tried to install 10.15), but i'm facing the same issue.

I even tried to remove all previous ruby installations with no luck.

[code]

[2019-06-22 09:30] kvokka commented on #488
@adamu @danhper Can you, please, re-open the issue? Or it is better to create the new one?

[2019-06-22 10:27] danhper commented on #540
I think this is actually more of an issue with asdf than with asdf-python.
I think than when multiple versions are set for a plugin asdf should try to install all of them rather than to pass the raw version string to the plugin.
@Stratus3D What do you think?

[2019-06-22 10:30] danhper commented on #488
I don't think the issue you are having is the same one as the original one so could you please open a new issue with a description of your problem. Thanks!

[2019-06-22 13:13] robsonpeixoto opened #541 "asdf plugin-test are not getting the lasted version"
### Steps to reproduce

`asdf plugin-test elixir git@github.com:asdf-vm/asdf-elixir.git 'elixir --version'`

### Expected behavior

Should install the version `1.9.0-rc.0` and show the output:
[code]

### Actual behavior

Is installing the version `0.7.2`
[code]

### Environment

**OS**: macOS 10.14.5

**asdf version**: v0.7.2

[2019-06-24 21:13] jakeonrails commented on #428
This should probably be fixed by the brew installer. I came here because the very first thing I tried after installing via `$ brew install asdf` was simply `$ asdf` and got this error message. I use ZSH. Maybe it's handled for Bash? There's a thing in the brew installer about adding some line to your `.bash_profile` for completions, but I would only do that if I wanted completions. I expect/(hope

[2019-06-25 23:02] krmbzds commented on #97
@alexlafroscia

@cLupus

I have the same problem. It only works if I source it manually in  an active shell window.

Were you able to solve this?

[2019-06-29 08:52] eksperimental commented on #517
Sorry, but I tried it with v0.7.2 and master and the problem is still there. So I think the issue should be reopened

[2019-06-29 20:13] jagdishadusumalli opened #542 "ruby 2.6.3 installation stuck for hours at the readline step"
Am trying to install ruby 2.6.3 and it gets stuck for hours at the last line of the console output below
I am using the latest asdf 0.7.2 and also the ruby plugin is updated.
readline and all ruby system dependencies are already installed via homebrew

asdf install ruby 2.6.3
Downloading ruby-build...
Cloning into 'ruby-build-source'...
remote: Enumerating objects: 53, done.
remote: Counting objec

[2019-06-30 18:51] jagdishadusumalli commented on #428
I encountered the same error and was due to wrong initialiser command in the wrong rc file
I am on macOS 14.4.5, asdf 0.7.2,zsh with on_my_zsh, using asdf via homebrew
What worked for me
[code]
restart terminal

[2019-06-30 23:00] vitaly opened #543 "asdf env adds an empty component to the path (has `:: in it)"
### Steps to reproduce

`asdf env ANYTHING` is the easiest way to see it, but the problem is with anything that goes through asdf.  programs running from shims will have "" in the path, resulting in current directory being considered for running programs. this I is a serious security issue.

### Expected behavior

I expect path not to have empty components in it.

### Actual behavior

path contain

[2019-07-01 19:35] Stratus3D commented on #542
This is not an issue with asdf itself. I've moved this issue to the asdf-ruby repository: https://github.com/asdf-vm/asdf-ruby/issues/125

[2019-07-01 19:35] #542 closed

[2019-07-01 19:44] Stratus3D commented on #529
Can you please provide more specifics? `COMMAND <TAB>` is vague. Please provide the command you ran, along with the output you got and the output you expected.

I'm not sure if by "the plugin" you mean asdf itself on an individual asdf plugin.

[2019-07-02 12:37] pablocrivella opened #545 "asdf.fish not found"
### Steps to reproduce

Installed `asdf` using homebrew.

### Expected behavior

Expected to find `~/.asdf/asdf.fish`

### Actual behavior

File not found

### Environment

**OS**:

MacOS Mojave
10.14.5 (18F132)

**asdf version**:

v0.7.2

[2019-07-02 14:05] rnc commented on #97
Does it need a `#compdef _cekit_completion cekit` at the start ?

[2019-07-02 14:25] PaoloLaurenti commented on #97
I use `antigen` for `zsh` and I solved the problem deleting `~/.antigen/.zcompdump`

[2019-07-02 21:51] danhper commented on #541
Thanks for reporting.
I think we should improve how we choose the version to install.
We could start by searching for the highest version respecting semver. If it exists we install it, if not we fallback to the last version returned by list-all

[2019-07-02 21:54] danhper commented on #545
Thanks for reporting. I think this is more an issue with the documentation. I suppose if you installed asdf with brew `asdf.fish` should be somewhere in `/usr/local`. I unfortunately do not have a mac to check so if someone using asdf with homebrew could confirm it would be great.

[2019-07-03 07:00] pablocrivella commented on #545
Yeah I worked around this by sourcing `/usr/local/Cellar/asdf/0.7.2/asdf.fish`
But I thought maybe the right solution would be to copy that file to the `asdf` data folder on install.
What do you think?

This is the homebrew formula https://github.com/Homebrew/homebrew-core/blob/master/Formula/asdf.rb

[2019-07-04 04:38] niccolox commented on #517
I am on ubuntu 19.04, fresh install of v0.7.2 and am seeing the same issue with erlang and elixir

[2019-07-04 16:14] paulswartz commented on #517
What versions of Elixir/Erlang do you have installed? `asdf list elixir` and `asdf list erlang`

[2019-07-04 16:53] eksperimental commented on #517
@paulswartz
[code]

[2019-07-05 00:08] paulswartz commented on #517
By any change is your `.tool-versions` file in the root directory? If not, can you share that as well?

[2019-07-05 04:25] eksperimental commented on #517
yes, .tool-versions was updated accordingly

[code]

[2019-07-05 23:02] Rovel commented on #519
I tried all sort of things including reshim, but the only one that worked was that, the problem is that was looks for the python there and asdf installs elsewhere, so setting the path solves

[2019-07-08 09:23] wojtekmach commented on #517
I'm getting the same error:

[code]

[code]

[code]

[code]

This is likely a separate issue, but mentioning just in case that this doesn't work either:

[code]

[2019-07-08 19:13] ivanhoe commented on #428
It works for me @jagdishadusumalli thanks so much!! what's happening the scenes?

[2019-07-11 08:00] trnubo commented on #529
Maybe not the best example but I use kubectl quite a bit plus it have a bash completion function.

Current behavior

[code]

_only the directory contents display_

Expected

[code]

This can be achieved by

[code]

asdf itself has bash completion and that works

[code]

One of the items on the asdf README.md is

However I haven't seen any plugin that actually manages/sets up bash completion or how

[2019-07-11 14:57] Stratus3D commented on #527
Thanks @jeremejevs !

I personally don't care either way. If we can figure out a way to automate it easily it may be better for us to control the package. Otherwise it may be best for @jeremejevs to control the package and bump the versions whenever he can.

Right now we've got an old homebrew formula that I've been meaning to fix for a while, and haven't gotten around to it because it takes a whi

[2019-07-11 22:06] Stratus3D commented on #383
Closing since I don't think we want to rename asdf right now.

[2019-07-11 22:06] #383 closed

[2019-07-15 22:02] daveloyall opened #547 "Name confusion."
[asdf](https://common-lisp.net/project/asdf/) started in 2001 and *every* Common Lisp program that is meant to be shared use it.  It is even used in programs that don't need to be shared.

Please reconsider #383.

[2019-07-15 22:04] Stratus3D commented on #547
Besides the confusion, are there any other problems caused by this?

Outside of lisp, most people now think of this project when they hear "asdf".

[2019-07-16 14:14] ENG618 opened #548 "Fresh install init script not executable"
### Steps to reproduce

* `brew install asdf`
* try to run init script with `"$(brew --prefix asdf)"/asdf.sh`

### Expected behavior

Should execute the file

### Actual behavior

error output `-bash: /usr/local/opt/asdf/asdf.sh: Permission denied`

### Environment

**OS**: MacOS 10.14.5

**asdf version**: v0.7.2

[2019-07-16 14:49] Stratus3D commented on #548
You shouldn't be executing `asdf.sh`, you should be sourcing. The docs (https://asdf-vm.com/#/core-manage-asdf-vm?id=add-to-your-shell) show the script should be sourced like this - `. $(brew --prefix asdf)/asdf.sh`. Alternatively you can use the `source` command instead of the dot.

[2019-07-16 14:49] #548 closed

[2019-07-16 20:59] Stratus3D commented on #244
@Aethelflaed I don't think the erlang plugin should be keeping a record of which versions of Erlang it installed. It uses kerl underneath, and kerl does typically keep records, but I think we altered it such that asdf-erlang doesn't rely on that behavior. If not we may need to change it. Generally plugins should not be keeping track of installed plugins on their own.

I'd like to do this without c

[2019-07-16 21:45] daveloyall commented on #547
Really?  Ok, I searched for `asdf` and `asdf software` in private browsing mode (which may reduce 'personalized results').  Ah, your software is now more popular than asdf, according to this method of measurement.  I see.

[2019-07-17 13:18] Stratus3D commented on #547
Being that `asdf` is the name, the name of the command, and the name used in the source code I just don't think it would be worth the effort to rename it now. We try to use `asdf-vm` when we can.

[2019-07-17 13:18] #547 closed

[2019-07-17 19:50] lee-dohm commented on #545
I added `source (brew --prefix asdf)/asdf.fish` to my `config.fish` to cope with updates to the asdf version. I would have updated the docs, but I'm not sure if doubling the number of tabs in the "Add to your shell" section or adding a note at the bottom of that section would be the best approach.

[2019-07-22 00:14] danhper commented on #529
I was not aware we were making such a claim in the README. I do not think this is currently a feature, although I think it would be something worth considering as we have quite a few plugins which would benefit from this.
Unless I am missing something, I think for now we should remove the line from the README.
@Stratus3D @jthegedus Any opinion?

[2019-07-22 11:41] look4regev commented on #150
Thanks @fcrespo82 for the workaround.
Another even shorter option we eventually found (just adding here for future references) is:
`$(asdf where python)/bin/virtualenv myvenv`
It will use the correct python version just as well.

[2019-07-22 12:32] losvedir opened #550 "asdf.fish breaking PATH when there are spaces"
### Steps to reproduce

in `.config/fish/config.fish` have just:

[code]

in the terminal `echo $PATH[1]` (that is, first element of the $PATH list) and see `/Applications/Visual Studio Code.app/Contents/Resources/app/bin` returned in its entirety.

Now run `source ~/asdf/asdf.fish` and `echo $PATH[4]` (or whichever index is for the element past the shims added by the script), and see that it retu

[2019-07-22 13:04] danhper commented on #150
If using Python3, I usually do

[code]

I never had any issue with this.

[2019-07-22 13:16] danhper commented on #545
For now, I would suggest that we do the same as for ZSH: https://github.com/asdf-vm/asdf/pull/537
If somebody could try it for fish and send a PR, it would be great!

[2019-07-22 13:33] Stratus3D commented on #412
@rliebz you are right. #411 should be sufficient.

[2019-07-22 13:33] #412 closed

[2019-07-22 13:41] Stratus3D opened #552 "Features for asdf 0.8.0"
I'm beginning work on some new features that I hope to release in version 0.8.0. These are significant changes that have been needed for a while.

## Features

* Add support for `download` script in plugins. Right now plugins have an install script that download, configure, compile, and install the correct version of the tool. With support for a `download` script, asdf will check for the presence

[2019-07-22 13:42] Stratus3D commented on #552
FYI @asdf-vm/core

[2019-07-22 13:59] look4regev commented on #150
@danhper That's actually an even better solution, thanks!
I tested it and it's working also for python2. Have you seen specific case in python2 that it doesn't work?

[2019-07-22 14:23] danhper commented on #150
For `python -m virtualenv myenv` to work, you need to have the virtualenv pip package installed. AFAIK, this is indeed the only way to get it to work for Python 2.
For Python >= 3.3, the module `venv` is part of the standard library so `python -m venv myenv` will work out of the box. But `-m virtualenv` would of course also work provided that the `virtualenv` package is installed.

[2019-07-22 21:16] morhook commented on #312
What rubyists are recommending to stop using `gemsets` @rlipscombe ?

[2019-07-23 12:25] #545 closed

[2019-07-23 13:06] olets opened #555 "Shimmed path losing track of whether it should use Homebrew path or HOME path"
Possible this is actually an asdf-nodejs plugin bug. I can move it there if you think I should 👍

### Steps to reproduce

I had asdf installed manually (what the docs now call the "Git" method). When I realized it was on Homebrew, I deleted everything and installed with Homebrew.

### Expected behavior

asdf NodeJS shims use the Homebrew asdf path

### Actual behavior

On `reshim`ing, the NodeJS-r

[2019-07-23 14:14] kvokka commented on #488
Occasionally I got this issue again, with trying to make fresh installation of ruby 2.1.10. (so it was impossible to run bundler with 2.1.10)

It was surprisingly resolved with installing ruby 2.1.9, and after it bundler works in both versions. Maybe it help someone

[2019-07-26 16:59] r4j4h commented on #538
Hi there, I am unrelated to the project but am familiar with Docker. This problem seems like it can be resolved in several ways: both at run time and at build time.

Notice the error is that it is trying to create the `.asdf` directory under `/root`. This is actually the system's attempt to match a user's home directory.

For a run time solution, try running

`docker run --rm --read-only -t -i -u

[2019-07-30 01:24] joneslee85 commented on #519
in theory asdf should not install anything to `~/.local/bin` but the reality is that `awscli` does get installed there.

So the suggestion by @Rovel is considered a correct one

[2019-07-30 03:14] peleteiro commented on #538
Thank you very very much.

[2019-07-30 22:26] klundberg commented on #509
I ran into this while working on a new plugin the other day. Would an acceptable solution be to just run `cp -r "$ASDF_DIR/" "$TEST_DIR"` instead of doing a git clone? That allowed me to get past that issue, but i'm not certain if there's any other considerations that would make that not ideal (if it would copy all the installed packages as well, for instance)

[2019-07-31 12:43] Stratus3D commented on #509
I think copying is fine, assuming we copy specifically what we need. I don't remember what files in the root dir are needed, but the source code is mostly contained to the `bin` and `lib` directories.

[2019-08-03 18:54] cdfa commented on #516
I just updated to `v0.7.3` and everything seems to be working now.

[2019-08-03 18:54] #516 closed

[2019-08-05 20:11] barberj opened #557 ""No version is set" when version is set and returned by `asdf current`."
Following advice from https://github.com/asdf-vm/asdf/issues/488, creating new issue.

### Steps to reproduce

Install new ruby. Attempt to install dependencies using bundler. Tried new session after install.

### Expected behavior

Dependencies are installed.

### Actual behavior

[code]

### Environment

**OS**:

macOS Sierra 10.12.6

**asdf version**:

[code]

[2019-08-06 00:59] AlexeyMatskevich commented on #503
I experienced the same problem in the `Arch linux` distribution. Installing `postgresql-libs` helped me.  Maybe you need to install a similar package for your system.

[2019-08-06 03:08] afeld commented on #557
Try running `hash -r`, then trying again. https://github.com/asdf-vm/asdf-ruby/issues/48#issuecomment-351787183

Maintainers: I think it's worth considering clearing the bash cache (`hash -r` or `hash -d [executable]` for each executable) _somewhere_... not sure of the best place for that. I wasn't even aware that bash _did_ caching, and I bet a lot of other people aren't either. Thoughts?

[2019-08-06 13:45] barberj commented on #557
I'm using `zsh`. Didn't help.

[2019-08-07 13:17] jonheg opened #558 "Fix PATH issue when using Ubuntu on Windows"
### Steps to reproduce

$ asdf install java openjdk-11.0.1
$ asdf install maven 3.6.1
$ java --version
openjdk 11.0.1 2018-10-16
OpenJDK Runtime Environment 18.9 (build 11.0.1+13)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.1+13, mixed mode)

### Expected behavior
$ mvn --version
Apache Maven 3.6.1 (d66c9c0b3152b2e69ee9bac180bb8fcc8e6af555; 2019-04-04T21:00:29+02:00)
Maven home: /home/jhe/.asdf/inst

[2019-08-07 13:19] jonheg commented on #558
A quick fix:

diff --git a/lib/commands/where.sh b/lib/commands/where.sh
index 78420e2..1978722 100644
--- a/lib/commands/where.sh
+++ b/lib/commands/where.sh
@@ -27,7 +27,7 @@ where_command() {

   local install_path
   install_path=$(get_install_path "$plugin_name" "$install_type" "$version")
-
+  install_path="$(echo -e "${install_path}" | tr -d '[:space:]')"
   if [ -d "$install_path" ]; then

[2019-08-08 13:28] knutsenm commented on #513
Works for me now; thanks!

[2019-08-08 13:28] #513 closed

[2019-08-08 17:32] robacarp commented on #505
related: https://github.com/danhper/asdf-python/issues/54

[2019-08-08 22:58] pikeas commented on #555
I was bit by something similar on https://github.com/asdf-vm/asdf/issues/531. Instead of manually updating every shim, try updating your shell RC file to source asdf from `brew --prefix asd`, open a new shell, then `rm -rf ~/.asdf/shims && asdf reshim`.

[2019-08-08 22:58] pikeas commented on #531
This happens because my shell sourced asdf from `/usr/local/Cellar/asdf/<version>` instead of `brew --prefix asdf`. Updating the source command to the latter, and running `rm -rf ~/.asdf/shims && asdf reshim` recreates the shims with the correct exec path.

[2019-08-08 22:59] pikeas commented on #531
Re-opening this issue in case because a case can be made for `reshim` updating the exec path when it changes.

[2019-08-09 08:37] wojtekmach commented on #517
For posterity, as a workaround instead of using `asdf global elixir path:/Users/wojtek/src/elixir` I used the following trick (thanks @ericmj for the tip!):

[code]

btw, given the original error still happens on 0.7.2, perhaps worth reopening the issue.

[2019-08-09 13:38] Stratus3D commented on #517
@wojtekmach can you open up another issue for that `asdf global elixir path` bug?

[2019-08-09 14:34] wojtekmach opened #559 "asdf global elixir path:<PATH> doesn't work"
### Steps to reproduce

[code]

Furthermore, If I manually add to `~/.tool-versions`:

[code]

then I get:

[code]

### Expected behavior

Setting and using path option should work.

### Environment

**OS**: macOS

**asdf version**: v0.7.2

[2019-08-09 14:35] wojtekmach commented on #517
@Stratus3D good call, I created https://github.com/asdf-vm/asdf/issues/559.

[2019-08-09 16:21] eksperimental commented on #517
Still this one needs to be reopened as it hasn't been fixed yet

[2019-08-10 17:02] yordis commented on #557
Same started happening with NodeJS.

[code]

[2019-08-12 20:32] Stratus3D commented on #543
Thank you for reporting. Definitely a bug with security implications.

[2019-08-13 13:44] #509 closed

[2019-08-13 20:17] jeremejevs commented on #527
At a glance, should be fairly straightforward with [something like this](https://github.com/mikkeloscar/arch-travis) and an AUR SSH key stored somewhere in the secrets. Can't really contribute further than this though, sorry, since I haven't worked with Travis before, and got no insight into your current setup and desires/plans with the CI.

[2019-08-15 00:25] Stratus3D commented on #543
I've got a PR out for this now. I will merge it later this evening if the tests pass.

[2019-08-15 00:36] #543 closed

[2019-08-15 02:42] Stratus3D commented on #543
@vitaly should be fixed now. Try updating to `v0.7.4` - https://github.com/asdf-vm/asdf/releases/tag/v0.7.4

[2019-08-15 20:13] philippneugebauer commented on #418
I cannot reproduce this error anymore with 0.7.4

[2019-08-15 20:21] philippneugebauer opened #562 "Version Installation Failed but Reinstallation Fails due to Existing Build"
[code]

I tried to find a build file named `asdf_20.3.8.22` but my Finder does not find anything with this name. What do I need to do to successfully (re)install this version?

### Environment

**OS**: macOS Mojave

**asdf version**: 0.7.4

[2019-08-16 14:50] #550 closed

[2019-08-16 21:37] JamesLavin commented on #557
I'm having the same issue, and I noticed that it seems to happen because `asdf` doesn't seem to know about a version of Ruby (2.6.3) I installed via `asdf` today. It recommends I use one of my three previous versions of Ruby:
[code]
When I changed my `.tool-versions` to point at one of the other three (older) Ruby installs, it started working.

Hoping this information may help with debugging.

[2019-08-21 13:48] jamesstidard opened #564 "Conspicuously missing C compiler plugins"
Hi,

I've switched to using `asdf` to manage my python, ruby, rust, etc installs. I noticed that their are no plugins for managing C compilers like `gcc`.

I found it strange that there isn't one. Is there a reason why anyone has yet to do this? Is there a more common way that C programmers manage compiler versions? Or does it not make sense for `asdf` to manage for some reason?

Thanks.

[2019-08-21 16:11] nverno commented on #564
if you're on debian, `update-alternatives` is an easy solution

[2019-08-23 21:42] SidOfc commented on #418
I had this issue just now on Ubuntu `19.04` using asdf `0.7.4`.

I was trying to run `rustc` version `1.35.0` which was installed properly but asdf could not find it:

[code]

asdf is installed in `$HOME/.asdf`, on my machine and the `/usr/local/opt` folder did not exist.
What I did to fix it was first create the directory `/usr/local/opt`, then symlink `$HOME/.asdf` to `/usr/local/opt/asdf`. Afte

[2019-08-27 15:12] jamesstidard commented on #564
@nverno I have tried `update-alternatives` in the past. Found the interface a little confusing if I'm honest (not that I spent the time to learn it).

@Stratus3D Great. Just that it was missing made me feel like maybe there was a reason. I'll take a look at making a plugin and see how straight forward it would be for me to write and maintain with new releases.

Thanks

[2019-08-29 14:11] ushu opened #565 "Crash when running global node command"
### Steps to reproduce

install Node.js (in my tests 12.4.0):

[code]

Then globally install `standard-version`:

[code]

### Expected behavior

It should run the executable, eg:

[code]

### Actual behavior

It crashes at line 690 of utils.sh:

[code]
(sorry my shell is in French...)

From a few test, I could determine it is due to this line: https://github.com/asdf-vm/asdf/blob/master/lib/utils.

[2019-08-29 14:32] Stratus3D commented on #565
Interesting. We've not encountered any errors like this before.

[2019-09-02 04:12] calebmeyer commented on #522
Opened an issue over there. I believe this can be closed, @starwing you okay with that?

[2019-09-03 03:28] starwing commented on #522
okay, I will watch that issue. Thanks!

[2019-09-03 03:28] #522 closed

[2019-09-04 04:15] yofriadi opened #567 "cache download if installation process error"
It is a feature request

[2019-09-04 14:43] NightMachinary commented on #216
Has any progress happened since 2017?

[2019-09-05 01:31] quintrino commented on #216
I have a small method I've been using in a ruby file that might be of help to you.

[code]

So far it's proven functional for Ruby, Rust, Node, Postgres, Elixir and Elm, but other languages may break it.

(This is slightly modified from the original that I use which just returned the version number but should when run in a ruby file/executable install the latest version)

[2019-09-05 14:35] NightMachinary commented on #216
@quintrino Thanks! I adapted that into a script:
[code]

[2019-09-05 14:47] Stratus3D commented on #567
Thanks, this will be addressed by #552. A bunch of things need to be in place before we can solve this correctly.

[2019-09-06 04:31] quintrino commented on #216
Great!

One thing to keep in mind is that this only works if the default version of the language doesn't include letters in it's name while the alternate versions do.

So with Ruby, the line
`stock_versions = versions.select { |v| v.count('a-zA-Z').zero? }`
filters out jruby, mruby and preview versions, but keeps the core versions of 2.6.4.

If the core or default version of a language included le

[2019-09-06 15:29] npearson72 opened #568 "Does not play nicely with Ansible"
### Steps to reproduce

Using any reference to a asdf managed binary in an Ansible task results throws an error.

##### Example:

[code]

##### Ansible debug output:

[code]

### Expected behavior

Should not fail

### Actual behavior

Fails

### Environment

**OS**: Mac OS v 10.14.6

**asdf version**: v0.7.

**Ansible version**: 2.8.4

[2019-09-06 17:04] klane commented on #216
@NightMachinary @quintrino What do you think about integrating the logic from [xxenv-latest](https://github.com/momo-lab/xxenv-latest/blob/master/bin/xxenv-latest) into asdf? I currently use it with pyenv and have been pleased, but I am looking into switching to asdf to handle all the languages I use. It defaults to grabbing the latest numeric version like your Ruby script, but permits an addition

[2019-09-08 09:25] NightMachinary commented on #216
It seems an improvement to me👍🏼

On Fri, Sep 6, 2019 at 9:34 PM Kevin Lane <notifications@github.com> wrote:

[2019-09-09 08:50] NightMachinary commented on #167
@vic can you open this? I think this feature is rather essential for asdf, and should be pretty easy to add. Without this feature, any language that has some concept of global packages will need to use a separate environment manager, which totally defeats the point of asdf as being the extensible version manager. (Why would I bother with asdf for python when I’ll need some other env manager anyway

[2019-09-10 15:40] danhper commented on #167
This is out of scope of asdf, as I think package management is too language specific to be able to come up with a good general solution. I think it could potentially be managed by [asdf-python](https://github.com/danhper/asdf-python).
Unfortunately, I do not have time to work on it but I am very happy to review PRs.
If you want to continue the discussion, please open an issue in asdf-python rather

[2019-09-11 11:17] NightMachinary commented on #167
No, I am not talking about package management! That’s indeed completely out
of the question.
I’m just asking asdf to be able to create named environments based on a
version. For example, I want to create three different environments based
on ruby 2.6.4. I can then use each environment’s own package manager (gem
in this case) to manage the packages.

On Tue, Sep 10, 2019 at 8:10 PM Daniel Perez <no

[2019-09-11 12:53] Stratus3D commented on #167
@NightMachinary I think we'd need some specifics on what that is and how it would work. Everything in asdf must be generic and serve multiple plugin use cases. So an asdf environment feature that only worked with the python plugin would not be something we would consider in asdf itself.

There is some discussion on the asdf-ruby plugin about gemsets - https://github.com/asdf-vm/asdf-ruby/pull/82

[2019-09-11 15:50] danhper commented on #167
@NightMachinary Ok, I think I understand better what you are requesting.
Basically the idea would be to allow something like

[code]

and then

[code]

could be used instead of a virtual environment, right?
I think this could be helpful and is simple enough to stay in the scope of asdf.
Unless I am missing something, a small change to the `install` command should be enough.
@Stratus3D What do you

[2019-09-12 07:56] npearson72 commented on #568
Added PR to resolve: https://github.com/asdf-vm/asdf/pull/569

[2019-09-13 10:15] byteshiva opened #570 "throws warning when installing python3"
### Steps to reproduce
[code]
### Expected behavior

How to avoid warning while installing python 3.7.4  on ubuntu 19.04

### Actual behavior
Does it require a separate installation of following extensions?
[code]

### Environment

**OS**:
Ubuntu 19.04

**asdf version**:
0.7.4

[2019-09-13 10:33] danhper commented on #570
Hi,
This is not an issue with asdf and should be opened in the relevant plugin: [asdf-python](https://github.com/danhper/asdf-python).
Either way, you are simply missing system libraries required to compile these Python extensions.
Run the following and retry to install. (taken from https://github.com/pyenv/pyenv/wiki#suggested-build-environment)

[code]

[2019-09-13 10:33] #570 closed

[2019-09-13 11:26] byteshiva opened #571 "Installed swift on unbuntu but threw segmentation error"
### Steps to reproduce

[code]

### Expected behavior

swift should have installed

### Actual behavior

Installed swift on ubuntu 19.04 but threw segmentation error, might be an issue with swift, but asdf shouldn't allow installation of any language that isn't compatible with the underlying os.
[code]

### Environment

**OS**:
ubuntu 19.04

**asdf version**:
0.7.4

[2019-09-13 12:00] danhper commented on #571
Hi,
asdf has no knowledge of what software is compatible with what OS. It's the job of the plugin to ensure that the correct version is installed.
Please reopen this issue in the repository of the asdf-swift plugin.

[2019-09-13 12:00] #571 closed

[2019-09-15 13:47] jlurena opened #572 "Have to source ~/.zshrc everytime I switch nodejs versions"
### Steps to reproduce

[code]

### Expected behavior

Shouldn't need to reshim manually. Version should be switched automatically.

### Actual behavior

I have to reshim and re-source zshrc

### Environment

**OS**: Mac Mojave 10.14.6

**asdf version**: 0.7.4

[2019-09-16 15:38] dmgening commented on #167
I would love to see this feature in asdf, managing virtual environments manually defies all purpose of having version manager.

@Stratus3D I think generic approach with shimming would play nicely with virtualenvs. If you would look at [pyenv-virtualenv](https://github.com/pyenv/pyenv-virtualenv) approach to the problem: they creating symlinks to venvs in a same directory where actual python versio

[2019-09-16 19:29] DanCardin commented on #505
I have this problem in pyenv today as well. It would be ideal if you considered something like this solution https://github.com/pyenv/pyenv/pull/1185 (which is unfortunately not in pyenv) where shims are only available and only shadow binaries outside your env when you are actively in an env.

[2019-09-17 07:59] sullyj3 opened #573 "asdf.fish doesn't escape spaces when setting path"
### Steps to reproduce

Followed the installation instructions for fish
[code]

### Expected behavior

Spaces in existing path entries should be correctly escaped
### Actual behavior

When opening a new terminal, a bunch of errors:
[code]
### Environment

**OS**: Windows 10, WSL (Ubuntu)

**asdf version**:
0.7.4

The problem seems to be this line:
`set PATH $x (echo $PATH | command xargs printf '%

[2019-09-17 14:07] bowmanmike commented on #557
Having a similar issue. I have a Node, Elixir, and Ruby versions all set in my `~/.tool-versions` file. When I `cd` into an Elixir project, `asdf current` picks up the Elixir and Ruby versions from the global file, but not Node. I can resolve the issue by adding a `$PROJECT/.tool-versions` file with the correct Node version, but I don't want to pollute a shared repo with a file that only I'm using

[2019-09-17 22:09] dre-hh commented on #216
@NightMachinary @quintrino
tuned your script a bit
https://gist.github.com/dre-hh/88a119bc1e69892e45317eb04c2af9da

can't we add ruby as optional dependency to `asdf` for implementing latest? 🤣

[2019-09-18 16:52] HashNuke commented on #527
I have the same opinion as @danhper and @Stratus3D. We can add it to our CI.
Assigning this issue to myself.

[2019-09-18 16:54] HashNuke commented on #552
This feature set looks good - especially the bug fix to make it work without the env var.

[2019-09-18 16:57] HashNuke commented on #538
@peleteiro Closing this issue since @r4j4h has a clear explanation.
If you feel this is a valid issue, please go ahead and reopen it.

Thank you @r4j4h ~!

[2019-09-18 16:57] #538 closed

[2019-09-24 13:14] delmendo opened #574 "Missing Plugin Doesn't Generate a warning"
I updated a project. It now includes a tool version for lua.  I haven't installed the lua plugin because I haven't needed it before.  I did an asdf install and it didn't warn me that I was missing the plugin.

### Steps to reproduce

$ cat .tool-versions
nodejs 10.16.3
python 3.7.3
lua 5.2

$ asdf plugin-list
elixir
erlang
nodejs
python

$ asdf install
nodejs 10.16.3 is already installed
python 3.

[2019-09-26 13:31] ttilberg commented on #557
Here's some info about my setup where I have the same issue. I just upgraded asdf as I saw in another issue that it might have been due to an old version, but I still have the issue.

MacOS 10.14.6 Mojave
asdf installed with Brew

[code]

The shim explicitly mentions py 3.6.8 in a comment -- I'm not sure if that's a magic comment, I'm guessing so. Being that my python seems to be correctly pointed

[2019-09-27 14:59] jeffryang24 commented on #97
I solved it by sourcing asdf and asdf completion first before antigen.

[code]

[2019-09-27 18:04] betogrun commented on #557
I'm facing the same issue after installing another ruby version with asdf.

[code]
Running `asdf reshim ruby` and restarted the terminal didn't fix the issue.
asdf version is 0.7.4

[2019-09-30 15:50] zachliu commented on #476
Just a note here, I had exact the same issue with pip-installing `bpython` under `asdf`, the solution is identical:
[code]
:rocket:

[2019-10-03 03:07] miun173 commented on #557
I also get this issue for nodejs in mac, i solve it by adding `.tool-versions`
[code]

[2019-10-03 14:53] Stratus3D commented on #574
Not sure if we should consider this a bug or not, but it is important enough that we should address it as soon as possible. Thank you for reporting.

[2019-10-03 15:02] betogrun commented on #557
As mentioned [here](https://github.com/asdf-vm/asdf-ruby/issues/127#issuecomment-537952548), the problem happens because there is no bundler for the new ruby version. Running `gem install bundler` solves the issue.

[2019-10-03 16:07] johnjelinek opened #576 "Add support for powershell core"
### Steps to reproduce

I'm running PowerShell (Core) 7.0.0-preview.4 on . If I add the following to my `$profile`, it fails to load:

[code]

Ideally, there'd be a `asdf.ps1` I could source. In the meantime, I'm having to jump into zsh or bash to run `asdf` and then refer to the installed versions of `go`/`ruby`/etc via `~/.asdf/shims/go ...`.

### Expected behavior

Success

### Actual behavior

[2019-10-03 16:23] johnjelinek commented on #576
In the meantime, I added this to my profile and it's working:
[code]

[2019-10-04 06:06] christopher-dG commented on #557
Having this issue with Julia `1.3.0-rcX` (for X = 1:3). as well as `1.1.0-rc2`. I've never had any issues with normal `x.y.z` versions.

[2019-10-07 11:54] niksfirefly opened #577 "Is there a way to use asdf as system global?"
I wonder Is there a way to use asdf as global for every user?
to not duplicate plugins and save disks space.

[2019-10-07 16:46] vic commented on #577
Yes! ASDF is pretty much agnostic to where it is installed. Just clone asdf at any shared location, say `/opt/asdf` and make sure all users have permissions for reading and executing binaries installed there. Have their shell profile source the asdf.sh environment and violá.

I'd recommend having a single user manage installed tool versions, since asdf has no restriction on what a plugin-install c

[2019-10-09 13:53] aeons commented on #541
The documentation for creating plugins says `plugin-test` installs the last listed version. In my case the versions are actually dates, and it picks the first listed version instead.

[2019-10-09 16:03] niksfirefly commented on #577
unfortunately plugins go to $HOME/.asdf dir
instead /opt/asdf

[2019-10-09 17:24] niksfirefly commented on #577
export ASDF_DATA_DIR=/opt/asdf
make the trick, so far so good

[2019-10-10 18:57] #577 closed

[2019-10-15 15:21] qbaze opened #578 "Installation of a non existing version of kubectl fails late (version not found 404)"
### Steps to reproduce

asdf plugin-add kubectl
asdf install kubectl 1.14
kubectl

### Expected behavior

If binary with a given version doesn't exist (site returns 404) installation should fail with an appropriate message.

### Actual behavior

Although there is no such version and the site returns 404 the installation succeeds. It downloads a 404 html and fails when one tries to run a binary.

#

[2019-10-17 03:25] byteshiva opened #580 "unable to install vlang using tar.gz"
### Steps to reproduce
[code]

### Expected behavior

vlang should have been installed

### Actual behavior

vlang should have been installed from tar.gz file but it expects zip format for extraction and installation

### Environment

**OS**: ubuntu

[code]

**asdf version**:

[code]

[2019-10-17 04:49] yofriadi opened #581 "error using git-flow"
when releasing using git flow

[code]

### Environment

**OS**: macOS catalina

**asdf version**: v0.7.4

[2019-10-18 16:58] Stratus3D commented on #581
@yofriadi you'll need to give us more information about what is going on. How did you install asdf? How did you install git-flow? What asdf plugins are you using?

[2019-10-18 20:45] Stratus3D commented on #580
This is an issue with the vlang plugin you are using. Please open an issue on that plugin's issue tracker. This issue tracker should only be used for issues specific to asdf core itself, this is extraction code is not in asdf itself but is in the plugin code.

[2019-10-18 20:45] #580 closed

[2019-10-19 03:24] yofriadi commented on #581
@Stratus3D yea, I used git-flow for my day to day development software, I did install asdf using either homebrew or curl (sorry I forget), I did install git-flow using homebrew and the plugin I using is go, nodejs and lua.

[2019-10-19 15:13] Stratus3D commented on #581
@yofriadi I'm not really sure I understand what is going on. Something on your system seems to be invoking something managed by asdf, but I don't know what. Do you know what that git-flow command actually does? Does it run tests or build your project?

[2019-10-20 07:17] yofriadi commented on #581
@Stratus3D git-flow is only for managing git development process, like committing, branching, release, hotfix, https://github.com/nvie/gitflow. in my case it broke in release and hotfix process, could you provide me on where to debug this thing?

[2019-10-21 13:41] Stratus3D commented on #581
I don't understand what the issue is. If you installed git-flow via brew then asdf should not interfere with it. Maybe open an issue with git-flow?

[2019-10-21 18:27] Stratus3D commented on #167
@dmgening the only way this feature is going to get added is if someone contributes code for this. If you aren't able to contribute code, a detailed issue explaining how the feature could be implemented might also help move things along. I'm too busy with misc. other issues and features to dedicate any time to this.

[2019-10-22 03:55] yofriadi commented on #581
ok, will check on it

[2019-10-22 13:13] Stratus3D commented on #578
This issue is with asdf-kubectl, not asdf itself. Please open this issue on the asdf-kubectl issue tracker.

[2019-10-22 13:13] #578 closed

[2019-10-22 13:15] android10 opened #582 "Updating plugins: cd: /root/.asdf/plugins/*: No such file or directory when"
### Steps to reproduce

1 - Install asdf, let's say under a regular user: fernando
2 - In Arch Linux or other distros it is possible to run hooks after upgrading the system, in this case with pacman which runs as root, so when executing sudo asdf plugin-update --all
3 - Plugin list cannot be updated.

### Expected behavior

[code]

### Actual behavior

An error ocurrs:
[code]

### Environment

**O

[2019-10-22 21:49] Stratus3D commented on #540
@danhper you are right. My mistake. Definitely an issue with asdf itself.

There also appears to be an issue with the output of `asdf current` when multiple versions are specified and one version is not installed.

[2019-10-22 22:37] jsatk opened #584 "`asdf: No version set for command which`"
### Steps to reproduce

No idea.

### Expected behavior

`which` is a system level binary and shouldn't be taken over by `asdf`.

### Actual behavior

Running `which` by itself prints `asdf: No version set for command which`. What in the world?!?

### Environment

**OS**: macOS Mojave

**asdf version**: 0.7.4

[2019-10-23 05:24] empjustine commented on #584
Can you check what hijacked `which` with `\type which`?

[2019-10-23 09:09] shir opened #586 "How to get "clean" PATH when run subprocess?"
I have a node.js application (let's call it "main") which starts other application ("child). I use asdf to start main application with node.js version 8.11.2. But for child application, I want to use own node.js version (10.16.3) via asdf. To make everything work I pass all env variables when I start child application including PATH. But after some experiments, I found that in the main application

[2019-10-23 12:53] #540 closed

[2019-10-23 18:48] jsatk commented on #584
My solution was to completely uninstall all versions of node _and_ uninstall the plugin from `asdf` and then reinstall. No idea what did it. I promise I didn't do anything weird or out of the ordinary. Just basic standard npm stuffs. 🤷‍♂

[2019-10-23 18:48] #584 closed

[2019-10-23 20:55] itaysk opened #587 "proposal: version change hooks"
I'm using asdf with the Go plugin, and running a few Go versions. Go relies on env vars, `GOPATH` among others, to point to a location that is like the home of Go code. This is version dependent so the go asdf plugin creates a GOPATH for each version and sets it correctly in `exec-env`, so if I do `go env` I see that go is seeing the correct GOPATH for it's version.
The problem is that the user, a

[2019-10-24 10:44] thbar opened #588 "Is there a way to freeze the version of the plugins themselves?"
First, thanks for `asdf`! Great tool!

I'm typically using `asdf` inside automated build tools (e.g. docker build chains), like this:

[code]

I would like to be able to freeze the version (as a commit) of each plugin, in order to 1) make builds more deterministic and 2) allow for security reviews before upgrading (like this can be done for other tooling, e.g. `bundler` in Ruby, `hex` in Elixir, o

[2019-10-24 16:07] Stratus3D commented on #565
I think I have fixed this in https://github.com/asdf-vm/asdf/pull/589. Can you give that a try?

[2019-10-24 19:00] #565 closed

[2019-10-24 22:10] Stratus3D commented on #588
You are correct. We don't currently support this. We just clone the plugin and checkout the latest commit on the master branch.

Possibly. Most of the time it is not that important as plugin changes are seldom backwards compatible, so for everyday local development it's just not needed. For builds and other automated tools I can see how something like this could be useful. I'd be in favor of addin

[2019-10-24 22:12] Stratus3D commented on #567
Closing this since it will be covered by #552.

[2019-10-24 22:12] #567 closed

[2019-10-25 15:54] Stratus3D commented on #588
#166 is very similar to this issue.

[2019-10-25 21:10] Stratus3D commented on #562
Sorry for the late reply, I'm not able to reproduce this on my machine (MacOS Mojave 10.14.6) with the latest version of asdf and asdf-erlang. I believe a new version of kerl was released not too long ago. Output for me:

[code]

[2019-10-25 21:12] Stratus3D commented on #562
Also maybe try running `asdf uninstall erlang 20.3.8.22` if your failed build got partially installed. The uninstall command should remove everything so you should be able to install the version a second time in the event of an error.

[2019-10-27 17:11] vic commented on #290
So, I just created a new plugin to integrate with [direnv](http://direnv.net/) which can hopefully improve execution time a lot. It works by exposing your asdf-tools environment (PATH and any other env-var set by your active plugins) and let direnv manage it.

Be sure to checkout the README for https://github.com/asdf-community/asdf-direnv

[2019-10-28 07:41] vic commented on #290
And benchmarks: https://github.com/asdf-community/asdf-direnv#benchmark

[2019-10-28 14:07] thbar commented on #588
@Stratus3D thanks for the feedback. Feel free to close for now - if I find the time later this year, I will work on an optional "branch/commit" option!

[2019-10-28 15:18] Stratus3D commented on #588
Closing this issue. Any future discussion should take place on #166.

[2019-10-28 15:18] #588 closed

[2019-10-29 17:12] Stratus3D commented on #582
If you are running as another user you'll need to set ASDF_DATA_DIR to the correct directory. e.g. `export ASDF_DATA_DIR=/home/otheruser/.asdf`.

[2019-10-29 18:39] Stratus3D commented on #586
Do you have a shell? If so, `asdf shell` might work:

[code]

Generally when working with asdf you shouldn't have to worry too much about PATH. Shims should always be on your PATH, it's just a matter of what version they end up executing.

[2019-10-30 01:42] x80486 opened #590 "Indicator for official plugin URLs"
So, today this is the output for this command:

[code]

I find useful to have an "indicator" somewhere in the output, if possible, that tells whether the URL for a given plugin, matches the URL for the "official" plugin (if that's currently a thing).

Also the aligning is a little bit off with some sausage-named plugins :sunglasses:

[2019-10-30 13:17] Stratus3D commented on #559
Thanks for reporting this. Definitely a bug.

[2019-10-30 23:52] Stratus3D commented on #559
I'll have a fix for this out shortly.

[2019-10-31 15:57] Stratus3D commented on #559
I've merged the fix. I'll be tagging a new release of asdf shortly.

[2019-10-31 16:01] wojtekmach commented on #559
Thank you! I tried double checking it and got this:

[code]

but still see:

[code]

let me know if you want me to test anything, maybe I'm missing something how to properly use master.

[2019-10-31 16:22] Stratus3D commented on #559
Maybe try `asdf reshim`? It's possible there is more to this issue.

[2019-10-31 16:24] wojtekmach commented on #559
Yeah, already tried that, no luck.

[2019-10-31 16:25] Stratus3D commented on #559
Yes there is another problem here. Not sure what is going on but it's not working for me either.

[2019-11-04 19:02] Stratus3D opened #593 "Explore other CI options"
We are currently using Travis, and also recently added AppVeyor. We should explore other options like https://cirrus-ci.org/ that also support Windows.

[2019-11-05 05:56] vic commented on #593
Github actions have been working great for the repos on `asdf-community`.

One particular thing I liked about GH actions is that, there seems to be no rate-limit for API calls. Perhaps since it's all running on GH environment? And many plugins just install from github releases, and some time ago it was this rate-limit on travis which was causing much plugins to fail if people didn't correctly set

[2019-11-05 06:17] imbsky commented on #593
Here are some limits list of GitHub Actions. It has a significant advantage over other CI providers.

Probably no, we need an API key to call the API, and I failed the test several times with that. but we no longer need to create and manage our own keys. I actually set it up like this.

https://github.com/asdf-community/asdf-direnv/blob/master/.github/workflows/workflow.yml#L41

https://help.githu

[2019-11-05 06:23] imbsky commented on #541
I have same issue.

[2019-11-05 18:52] heydonovan commented on #557
I'm experiencing the same with the terraform plugin, this just started happening:

[code]

[code]

I've just been manually running `asdf shell terraform 0.12.13` for now.

[2019-11-05 20:34] joelsouza commented on #581
@yofriadi @Stratus3D

I have the same issue here with the combination of OSX, zsh, git flow and asdf

When running `git flow feature start foo` I get:

[code]

For some reason that I don't realize, just removing those parenthesis from this line it will work.

There is no test for `with_shim_executable` method so I don't know if removing it will introduce new bugs.

[2019-11-05 22:48] tutume commented on #409
Hi, I'm new to `asdf and python` and faced with this issue with `python pip`, searched and found [this](https://github.com/danhper/asdf-python/issues/37) which points to here.
Anyways. For a possible global solution, would be possible to add and change the PATH to point to the currently active language/bin directory, this way, it would work for all language I suppose. What are the restrictions for

[2019-11-05 22:51] tutume commented on #409
what about adding the language/bin directory into PATH according to the current active version? Are there any issue with it? why use shim when, lets say, I do python -m pip install cli-package?

[2019-11-05 23:45] joelsouza commented on #581
@yofriadi @Stratus3D

I have the same issue here with the combination OSX, zsh, git flow and asdf

When running `git flow feature start foo` I get:

[code]

So I change it to

[code]
There is no test for `with_shim_executable` method so I don't know if change it will introduce new bugs. Besides that other tests pass fine.

[2019-11-06 00:56] vic commented on #409
@tutume You are looking for [asdf-direnv](https://github.com/asdf-community/asdf-direnv) then.

[2019-11-06 04:57] mpugach commented on #503
setting `asdf global postgres 9.4.7` helped me

[2019-11-06 12:31] jlurena commented on #572
My path only contains nodejs from asdf, no other node.

[2019-11-06 12:33] jlurena commented on #572
You are right though, simply sourcing `source ~/.zshrc` again brings my node to the version in the `.tools-version` file

[2019-11-06 12:43] Stratus3D commented on #572
@jlurena can you share your `.zshrc`? Or at least part of it?

[2019-11-06 12:47] jlurena commented on #572
[code]

[2019-11-06 14:08] Stratus3D commented on #572
I don't see any issues with the way you've loaded asdf, but I see you are sourcing `yvm.sh` after asdf. I'm not familiar with `yvm.sh`, but it could be affecting things. Have you tried removing it? Also what does `type -a node` return for you before and after sourcing the `.zshrc`?

[2019-11-06 14:26] jlurena commented on #572
[YVM](https://yvm.js.org/docs/overview) is a version manager for Yarn. It needs to come after ASDF because it has a dependency on nodejs.

But it seems you caught the issue :). YVM seems to be the culrpit! I'll close this

[2019-11-06 14:26] #572 closed

[2019-11-06 14:31] jlurena commented on #572
I fixed it. Seems yvm.sh changes the path order and clobbers asdf. I'll create a PR with them

[2019-11-06 14:52] Stratus3D commented on #572
Glad you were able to figure it out! Also, if you like asdf you could give asdf-yarn a try - https://github.com/twuni/asdf-yarn

[2019-11-06 14:56] jlurena commented on #572
Ha, of course that plugin was created shortly after I migrated to to YVM

[2019-11-06 15:53] Stratus3D commented on #586
Closing since I don't think there is anything that needs to be done for this issue.

[2019-11-06 15:53] #586 closed

[2019-11-06 20:50] Stratus3D commented on #581
Thanks @joelsouza. I've not had time to investigate this issue, but we definitely need tests for `with_shim_executable`. It may also be a refactoring opportunity as well, although that is pretty low priority right now.

I'd really like to have a test that generates this same error. If we can reproduce this with just asdf tests that will make fixing it pretty easy.

[2019-11-06 21:57] joelsouza commented on #581
I will take a look into it further. I'll be back with more info on how to generates it

[2019-11-08 08:24] #481 closed

[2019-11-08 10:25] byteshiva opened #594 "How to configure Python Intrepreter for PyCharm - JetBrains"
### Steps to reproduce

Tell us what actions you performed before the issue occurred

I want to configure the below two(venv and asdf python intrepreter) in pycharm IDE, One question will the below is sufficient for me to make virtualenv work in PyCharm?

[code]

### Expected behaviour

The goal is to configure asdf python interpreter on PyCharm. But somehow it's missing of the packages when insta

[2019-11-08 11:00] byteshiva commented on #594
The Pycharm creates new venv and it's not utilizing the pipenv virtualenv. I'm able to point the asdf python interpreter in PyCharm. It may not be relevant to **asdf** but the question remains how to not create another pipenv virtual environment when working from PyCharm IDE.

How can PyCharm be pointed to Pipenv VirtualEnv. Again this may not be relevant to asdf hence I'm closing this issue.

[2019-11-08 11:00] #594 closed

[2019-11-08 15:39] tutume commented on #409
Thanks. Gonna have a look.

[2019-11-14 09:02] byteshiva opened #596 "asdf which rust throws "unknown command""
### Steps to reproduce

[code]
### Expected behavior
```asdf which rust``` should return path but its saying "unknown command"

### Actual behavior

asdf which rust - should return the installation path of **RUST**

### Environment

**OS**: ubuntu 19.10
[code]

**asdf version**:

[code]

[2019-11-14 11:55] byteshiva commented on #596
Refer : https://github.com/asdf-community/asdf-rust/issues/1

Closing this issue as i've got the resolution from asdf-rust plugin

[2019-11-14 11:55] #596 closed

[2019-11-16 05:00] webkay commented on #557
In my case, there was an error when I tried `gem install bundler`
[code]
But it was solved by `asdf list-all` and reinstall
[code]

[2019-11-17 19:46] Stratus3D commented on #558
@jonheg thanks for the diff, it would be great if we could narrow this down to a simple test case. Why is it solved by deleting spaces? Some valid paths do contain spaces, so we need to preserve them. Perhaps we missed quotes somewhere?